[2018-10-20 10:13] genemars commented on #341
@mralapete please try **1.2-beta.14** and let me know if this fixes the issue with CM15.

[2018-10-20 14:17] mralapete commented on #341
Just tried it. No change.Still the same error message in the debug.

What device path is HG trying to grab the CM15Pro from. Here's the contents of lsusb

$ lsusb
Bus 001 Device 002: ID 0bc7:0001 X10 Wireless Technology, Inc. ActiveHome (ACPI-compliant)
Bus 001 Device 001: ID 1d6b:0002 Linux Foundation 2.0 root hub

Vendor ID of the CM15Pro looks fine and is identified correctly as Device 002. The

[2018-10-20 14:43] genemars commented on #341
@mralapete did you try a fresh install or update? please do a `ls -la` both from `/usr/local/bin/homegenie/` and `/usr/local/bin/homegenie/lib/mig` and post the output here.
I just tried upgrading to 1.2-beta.14 on my Pi and it is still working fine.

[2018-10-20 16:12] mralapete commented on #341
I’m doing this from a fresh install on a Raspberry Pi Zero W using Raspbian Stretch Lite.

Could you confirm what Mono version you are testing with. Is it from the Raspbian repository.

I’ll run those commands you requested as soon as I’m back at base.

[2018-10-20 16:16] genemars commented on #341
[code]

[2018-10-20 16:36] genemars commented on #341
There's actually a difference with **v1.1-stable.527** and it is that **LibUsb*.dll** was previously copied from a static version located in the *Externals* folder of hg repository, while now it is got from the latest NuGet package. So another test you can do is trying to replace the new *LibUsb* files with the older ones.
These files are located in the `/usr/local/bin/homegenie/lib/mig` folder.

[2018-10-20 18:15] mralapete commented on #341
$ ls -la
total 9016
drwxrwxr-x 8 2000  2000    4096 Oct 20 19:04 .
drwxrwsr-x 3 root staff    4096 Oct 20 15:05 ..
-rw-rw-r-- 1 2000  2000     951 Oct 20 11:20 automationgroups.xml
-rw-rw-r-- 1 2000  2000     435 Oct 20 11:20 certaccept.xml
-rwxrwxr-x 1 2000  2000    3072 Oct 20 11:20 Common.dll
-rw-rw-r-- 1 2000  2000     429 Oct 20 11:20 Common.dll.mdb
-rw-rw-r-- 1 2000  2000   10240 Oct 20 11:2

[2018-10-20 19:55] genemars commented on #341
So everything is fine with the files. The only thing you can try is to replace the `LibUsbDotNet.dll` with the one provided in the old hg release:

[https://github.com/genielabs/HomeGenie/blob/feb85a05922d86c2043954125be2a3e426819fb5/Externals/g-labs/LibUsbDotNet.dll](LibUsbDotNet.dll (v1.1-stable.527))

Actually I just noticed the name in the new version (that uses a NuGet package) is different a

[2018-10-20 20:45] mralapete commented on #341
OK. I narrowed it down to a firmware issue in the Pi Zero. The release candidate of Raspbian Stretch Lite I was using had a USB bug in the firmware that was changing permissions of the device I was plugging in so it wasn't available to HG. I changed to a revised version of Raspbian Stretch Lite and the CM15 is now available to HG and working.

Looks like I'm experiencing an old problem. HG is not

[2018-10-20 23:13] #341 closed

[2018-10-20 23:47] mralapete opened #342 "Email notification with picture attachments not working on 1.2 beta v14"
The following CSharp program is working on 1.1 Stable v527 but not on 1.2 beta v14. Email being sent with the alarm condition but no picture attachments

// when the widget button is pressed, an e-mail is sent with pictures from cameras

// This app works for the following 2 FOSCAM IP cameras:
//   FI8910W: http://<cameraID>.myfoscam.org:<port>/snapshot.cgi?user=<username>&pwd=<password>
//   FI98

[2018-10-21 12:57] #325 closed

[2018-10-21 17:20] tuicemen commented on #342
I should have caught this before issue #337 was closed but I was more concerned with  all the user created CSharp programs not even loading. When this loaded I assumed it was working as the others I have did.
I can confirm this behaves the same for me on a PI 3B+.
 I just tested and No email or pics are sent with the alarm trip.
I use foscams, easyn, and  X10 AirSiight cameras

[2018-10-21 20:51] mralapete commented on #342
Problem with .NetSendMessage using Mono 4x. The only way I think this can be resolved is if the package manager is amended to use Mono 5x instead.

This could be done manually by removing Mono 4x and installing Mono 5x from the Mono project page but it could be very messy.
@genemars could you swap out Mono 4x for Mono 5x from the Mono project page to see if this resolves the problem

[2018-10-21 21:01] tuicemen commented on #342
If I use the widget I get the email and pictures but this is not being sent on an alarm condition so I don't think this is a Mono issue.
I believe it is related to issue #337.

[2018-10-22 10:32] mralapete commented on #342
Installed Mono 5 and problem is now resolved.

[2018-10-22 10:33] #342 closed

[2018-10-27 15:55] mralapete opened #343 "Support for CM19E X10 controller"
The X10 controller CM15Pro has now been discontinued. The only X10 controller now available for sale in Europe is the CM19E, a USB RF only unit. The Vendor ID number for the CM15Pro is 0bc70001 while the Vendor ID number for the CM19E is 0bc70002. The protocol for both units is similar except the CM19E does not include PL (Power Line) control.

Would it be possible to edit the XtenLib to add suppo

[2018-10-27 16:15] tuicemen commented on #343
This would also open HG to users of the CM19A (the North American version of the same module)
When the CM15A became back ordered X10WTI shipped the CM19A as a replacement so there are lots of users with this module.

[2018-10-27 16:48] tuicemen opened #344 "1.2 beta-16 broke my hue modified program"
I created a program which simply modified the Philps hue program to allow connection to the HA-Bridge program since I don't have a physical Hue Bridge and to provide the ability to arm disarm my X10 security system this was working fine until the latest beta release
### Expected behavior
Ha-Bridge configured devices to turn on/off when called to do so

### Actual behavior
HG shows the command is b

[2018-11-03 18:00] genemars commented on #344
Can you post the `.hgx` of this program with steps to replicate the issue?

[2018-11-03 18:04] genemars commented on #343
I personally do not own a CM19E but I could try extending XTenLib in order to support this device as well.
@mralapete do you have a CM19E to eventually help testing/debugging?

[2018-11-03 20:28] tuicemen commented on #343
I wonder if when doing this code could would also allow the cm15 to send RF or can it do that and Im missing something. I CAN test a CM19A

[2018-11-04 11:50] mralapete commented on #343
@genemars I do indeed. I have it running on a Raspberry Pi using Mochad. The CM15Pro runs on the same Raspberry Pi by hot swapping the two controllers so if you need any testing done with it in HomeGenie just let me know

[2018-11-04 14:45] genemars commented on #344
Did you clone the hue program or did you modify the code of the original program?
In the latter case the original program might have been overwritten with the hg update.

[2018-11-04 14:47] genemars commented on #343
Ok... good to know you both can help testing. I'll give a peek at XTenLib code soon.

[2018-11-07 11:42] genemars commented on #343
Ok.. I've got something to test. Can you guys compile and test `xten-lib-donet` from source?

[2018-11-07 12:55] tuicemen commented on #343
I'm  on holidays right now for one more week with no access to my pi. Will be another week before I can test, hope that doesn't  slow development to much

[2018-11-10 17:44] mralapete commented on #343
@genemars could you include the link to your revised XTenLib revised source code

[2018-11-11 16:06] genemars commented on #343
@mralapete

https://github.com/genielabs/x10-lib-dotnet/tree/cm19/

Run the **Test.X10** program to test and debug.
I am not sure that the protocol is the same as CM11/CM15 so there might be data decoding errors.

[2018-11-12 11:37] mralapete commented on #343
@genemars I've cloned the Github https://github.com/genielabs/x10-lib-dotnet/tree/cm19/ on the Raspberry Pi but cannot compile as there's no makefie present. I'm in the folder x10-lib-dotnet and have used the ./configure, make and sudo make install method but it informs me that no makefile is present

[2018-11-12 12:11] genemars commented on #343
compile with visual studio or monodevelop

[2018-11-12 14:08] mralapete commented on #343
Yes nuget is required to successfully build with xbuild

Ran Test.CM15.exe with the CM19E attached and here's the output

2018-11-12 14:03:12.3609 XTenLib.Drivers.CM15.Open Error System.Exception: X10 CM15Pro device not connected.
  at XTenLib.Drivers.CM15.Open () [0x00022] in <2fbe82fc52354623bdf4e725fa062f3a>:0

[2018-11-12 16:43] mralapete commented on #343
@genemars this is the url for your CM19 branch https://github.com/genielabs/x10-lib-dotnet/tree/cm19 yet this is the url for the clone or download https://github.com/genielabs/x10-lib-dotnet.git

Is that clone or download url for the master or branch

[2018-11-12 17:34] genemars commented on #343
@mralapete this is the download link for `cm19` branch:

https://github.com/genielabs/x10-lib-dotnet/archive/cm19.zip

[2018-11-12 20:18] mralapete commented on #343
Do you have the git clone url. I'm doing this via a Raspbian terminal straight to the Raspberry Pi

[2018-11-12 21:44] genemars commented on #343
Clone as usual then `git checkout cm19` to switch to the proper branch.

Il giorno lun 12 nov 2018, 22:14 mralapete <notifications@github.com> ha
scritto:

[2018-11-12 22:43] mralapete commented on #343
Ok got the correct branch and compiled ok.

Ran TestX10.exe and here's the output

2018-11-12 22:39:17.0342 XTenLib.Drivers.CM19.Open Error System.Exception: X10 CM19 device not connected.
  at XTenLib.Drivers.CM19.Open () [0x00022] in <f4e8e8a5b9b34544bdce6ae429ac9398>:0

Tried unplugging and plugging the CM19E and still the same output. It is not connecting.

My CM19E is working fine in Mochad s

[2018-11-13 00:19] genemars commented on #343
can you please do a `lsusb` ?

[2018-11-13 03:07] mralapete commented on #343
Contents of lsusb as posted in previous post

Contents of lsusb as follows

Bus 001 Device 004: ID 0bc7:0002 X10 Wireless Technology, Inc. Firecracker Interface (ACPI-compliant)

[2018-11-13 11:31] mralapete commented on #343
$ dmesg | tail -n 20
[   31.176275] IPv6: ADDRCONF(NETDEV_UP): wlan0: link is not ready
[   31.176294] brcmfmac: power management disabled
[   31.467085] Bluetooth: BNEP (Ethernet Emulation) ver 1.3
[   31.467097] Bluetooth: BNEP filters: protocol multicast
[   31.467124] Bluetooth: BNEP socket layer initialized
[   32.992146] IPv6: ADDRCONF(NETDEV_CHANGE): wlan0: link becomes ready
[   38.735535]

[2018-11-13 12:46] mralapete commented on #343
Ok just did a little searching and came across this. As you suggested there is a conflict with drivers

https://cuddonnet.blogspot.com/2013/02/how-to-disable-interfering-linux-kernel.html

Made the changes suggested and the dmesg output as follows

 usb 1-1: New USB device found, idVendor=0bc7, idProduct=0002
[  418.480942] usb 1-1: New USB device strings: Mfr=1, Product=2, SerialNumber=0
[  418.4

[2018-11-13 13:55] mralapete commented on #343
This is the current output of your X10 test program

2018-11-13 13:51:04.2762 XTenLib.Drivers.CM19.Open Error System.Exception: X10 CM19 device not connected.
  at XTenLib.Drivers.CM19.Open () [0x00022] in "<f4e8e8a5b9b34544bdce6ae429ac9398>:0"

[2018-11-13 14:39] genemars commented on #343
Ok blacklist is ok. Use `sudo` to run the program.

Il giorno mar 13 nov 2018, 13:46 mralapete <notifications@github.com> ha
scritto:

[2018-11-13 15:06] mralapete commented on #343
Yes I did that already. I ran the test program with and without sudo. The output was the same in both cases. It still will not connect with the CM 19E.

I was thinking it might be a permissions issue at one stage. I have verified that the CM19E is still working.

[2018-11-13 20:34] mralapete commented on #343
@genemars this might be a useful reference for you https://github.com/amccool/x10-cm19a

[2018-11-14 11:21] genemars commented on #343
hi @mralapete the code I've posted is actually recognizing my CM21 USB device. The only difference is the product identifier which is "0005" for CM21 instead of "0002".
As already pointed by you, in order to make it work, I had to blacklist the following modules:
**/etc/modprobe.d/blacklist.conf**
[code]
Reboot, then running the test program with `sudo` worked for me.
[code]
So I really have no cl

[2018-11-14 15:17] mralapete commented on #343
That looks promising.

Ok. Next question. What Mono version are you using. I’m using 5.4.0

Your GitHub built fine with no errors.

Did you build as root.

Did you modify udev rules to allow a user to access a usb device as you know root ownership can only access usb devices

I cloned your GitHub. I installed Nuget to restore packages. I did cd into the correct folder. I did XBuild (or Msbuild as

[2018-11-15 09:16] genemars commented on #343
Did you install **libusb-1.0-0-dev** package?
[code]
this package is installed automatically if you've already installed HG, so I forgot to mention about it.

[2018-11-15 14:04] mralapete commented on #343
This is a kernel driver. Did you have a look at it https://github.com/amccool/x10-cm19a

[2018-11-15 14:34] mralapete commented on #343
Just looking at these instructions to install another driver for the CM19. Note the instructions on chmod and chown. Does your test program require these changes.

Plugin the X10 CM19A transceiver
Grant access to the appropriate USB device to your preferred user account
Execute sudo lsusb to list devices.
Look for a device with the name "X10 Wireless Technology, Inc. Firecracker Interface" and USB

[2018-11-15 19:01] genemars commented on #343
While trying to make CM21 work I've also come across similar solution and performed those *chmod* commands but I don't think that was relevant. What made my CM21 work was the `/etc/modprobe.d/blacklist.conf`.

At this point I think I really need to get hands on the CM19 to try to figure out the issue and make it work. I also believe that CM19 RF data encoding/decoding process might be a little bit

[2018-11-15 21:50] mralapete commented on #343
@genemars
 Mochad might be worth checking out. It handles both the CM15 and CM19 so might provide some clues. I did have a look at this Python driver but I'm not sure how it would perform as its been a few years ago since any work was done on it and it's written around a fairly old version of Python https://github.com/burnsfisher/x10pantilt

Hopefully you'll get your CM19E soon and figure out a wo

[2018-11-20 21:01] tuicemen commented on #344
sorry for the delay just got back and trying to get caught up here is the hgx file

[260-HA-Bridge(with Password).zip](https://github.com/genielabs/HomeGenie/files/2601542/260-HA-Bridge.with.Password.zip)

[2018-11-20 21:09] tuicemen commented on #343
I've not been able to lay my hands on my CM19A as yet Still trying to catch up on all things here.
I'll do some digging tonight to see if I can find it.

[2018-11-20 23:54] kaykingtoo opened #345 "Scheduler stopped working but shows (wrong) in Log"
### Expected behavior
Every 10 minutes turn off listed X10 modules

### Actual behavior
Worked fist 24hours., now nothing sent via CM15 (confirmed per 2nd cm15 activity monitor), log shows "info" showing it every second, not every 10 minutes.

### Steps to reproduce the problem starting from a fresh install

  1. make new scheduler, set to run exact time, then set to run every 10 minutes
  2. atta

[2018-11-21 01:19] kaykingtoo commented on #345
So sending commands that worked, studying Log, I see the above does nothing...   So I replaced exact time  and every 10 minutes with crone (0/10 * * * *), redid the module picks, and ....   no change...

rebooted and now it took my changes and is working again...  so it seems to me scheduler changes do not become effective until after a program restart.  Anyone confirm this?

Hovering over the sch

[2018-11-21 11:30] genemars commented on #345
give it a try

[2018-11-21 14:37] mralapete commented on #345
Type mono --version to see what Mono version is running on your install. It's important to know what version you're running.  I've a feeling it's the standard repo version, 4.6.2 if I'm not mistaken. You may need to upgrade to 5.4 or higher. Is this a gdebi install, a manual install or is it built from source.

[2018-11-21 16:01] tuicemen commented on #344
Ok I'll give this ago and see what happens with a new HG beta release.
I had assumed if I imported my modified program with the original still in place HG would assign a new id.
not sure why other releases didn't catch this.

[2018-11-21 23:44] kaykingtoo commented on #345
ver 4.6.2 here. stretch lite.

so googled how to upgrade to 5.12 and found:

sudo apt-get install --only-upgrade mono-complete

but that does not work; reports:

Reading package lists... Done Building dependency tree Reading state information... Done Skipping mono-complete, it is not installed and only upgrades are requested. 0 upgraded, 0 newly installed, 0 to remove and 4 not upgraded.

I will c

[2018-11-21 23:50] kaykingtoo commented on #345
Seems upgrading mono is not easy task...   would it get updated if I try to overwrite my HG 571 with latest beta install?

[2018-11-22 21:56] Bounz commented on #345
Mono is an open source implementation of Microsoft's .NET Framework, so it allows users to run .Net programs on Linux.
You have an outdated version of Mono on your RPi. To upgrade it follow installation instructions described here: https://www.mono-project.com/download/stable/#download-lin-raspbian. It's not complicated (5 commands in terminal).
I suggest you install `mono-complete` instead of `mo

[2018-11-23 22:57] kaykingtoo commented on #345
I feel like a fool asking, but how do I tell if I have raspbian 8 or 9?  I will begin googling to see if I can figure it out.  thank you.

[2018-11-23 23:03] kaykingtoo commented on #345
found        cat /etc/os-release       so got answer.  sorry.

[2018-11-24 13:32] kaykingtoo commented on #345
Got thru first 4 steps fine.  got to 91% thru sudo apt install mono-complete when it locked up pi.  It was adding IIRC 682 programs, modifying a bunch and upgrading some.   I could not recover via SSH or reboot so have to wait until I can get to the pi location and cycle power to see how badly I screwed it up.  The above took approx. 1.5 hours!

[2018-11-24 15:14] tuicemen commented on #345
installing mono complete takes a long time and if I remember when I installed it the screen blanked for several mins before the last stages completed( around the (90% mark) this made me thing it had locked up, so your install may have worked.

[2018-11-24 15:39] kaykingtoo commented on #345
tnx.  I let it sit for 45 minutes before trying to ctl x and z.   I am here and rebooted;  it reports 5.16 version!  But HG totally ignores my x10 commands.

I just tried to run again and it says all ok (except for that 30 needing upgrade?):

pi@raspberrypi:~ $ sudo apt install mono-complete
Reading package lists... Done
Building dependency tree
Reading state information... Done
mono-complete is a

[2018-11-29 02:00] tuicemen commented on #343
@genemars  have you received you CM19 yet?
I've been busy working on a HG SD downloadable image to get North American Users hooked on HG and the Pi and I just found my CM19A

[2018-11-29 18:02] genemars commented on #343
@tuicemen I received my CM19E today and I already got it working.
Well it's sending X10 RF commands but I'm actually having trouble receiving commands.
Furthermore none of the existing CM19 programs for Linux I've tried worked for receiving but only sending.

Anyway I just realized that CM19 cannot be included as part of XTenLib since the PLC protocol is very different.

So I think I will be writi

[2018-11-29 19:51] tuicemen commented on #343
Ok I'm ready to test when ever your ready I'll keep my cm19 at the top of my x10 parts bin

[2018-11-29 23:25] genemars commented on #343
@tuicemen

https://github.com/genemars/CM19xTest

it is a very basic console application that will send a **A1 ON** command and then will output any RF command received by the CM19.
If you want to send a different command than **A1 ON** you can edit the source code and use the following file for reference: https://github.com/erikdietrich/Daedalus/blob/master/AutomationService/CM19aProtocol.ini

bl

[2018-11-29 23:50] tuicemen commented on #343
forgive me but I'm very new to using a Pi and not very experienced in Linux so just to confirm I make a file /etc/modprobe.d/blacklist.conf then place "blacklist lirc_atiusb" and "blacklist ati_remote" in it save and reboot?

[2018-11-30 00:14] tuicemen commented on #343
Do I have to build CM19xTest if so How?

[2018-11-30 00:45] genemars commented on #343
@tuicemen it's same as building XTenLib, like discussed earlier in this thread, using **nuget restore** and  **xbuild**.

[2018-11-30 16:07] tuicemen commented on #343
ok remember I'm to this? does nuget need to be installed? (i'm running raspbain Stretch lite) I keep getting  `-bash: nuget: command not found`
if so how? It sure would be quicker if you just supplied the CM19xTest app already compiled.
HomeGenie  stable is installed already with mono 5.4

[2018-11-30 16:37] tuicemen commented on #343
Ok says build successful but don't see the test program even in the bin/Debug folder

[2018-11-30 16:41] tuicemen commented on #343
ok reran the build and the exe file is now there

[2018-11-30 16:43] tuicemen commented on #343
ok looks like it is seeing RF  How do I test the send?

[2018-11-30 16:52] tuicemen commented on #343
Ok figured it out!
it sends A1 as soon as the app starts followed by seeing any RF activity.
works fine here!

[2018-11-30 18:49] genemars commented on #343
@tuicemen that's awesome. Would you please paste some output so I can ensure that everything is ok and that I can proceed in writing the real driver.

[2018-11-30 18:51] tuicemen commented on #343
sure. I'll reconnect and collect some info or does it save a log somewhere?
I noticed security RF codes seemed a little short when watching earlier so I'll try to capture some of those events

[2018-11-30 19:02] tuicemen commented on #343
[code]
this shows the start commands followed by a1 off  then a2 on then off then a3 on&off then A4 on&off
I had thought it seen security commands earlier but the door window modules I activated didn't register.
the last 5 events are heart beats I assume

[2018-11-30 19:10] tuicemen commented on #343
if there is a specific signal you'd like me to try just let me know and I'll attempt it.

[2018-11-30 19:29] tuicemen commented on #343
Ok same links?

[2018-11-30 19:56] tuicemen commented on #343
Ok it appears to see all house codes on/off and the dim brighten commands but no security sensors or security remote signals. here are codes for p1 on followed by dim then brighten just after starting.
[code]

[2018-11-30 20:00] tuicemen commented on #343
perhaps mralapete can confirm the cm19e is different once he returns from his business trip.

[2018-12-01 16:41] genemars commented on #306
Hi @Sheldo , support for this device is being added and will be available soon.

[2018-12-03 01:31] genemars commented on #343
@tuicemen can you please update and compile the latest CM19xTest source code?
I made a fix and I was able to receive X10 RF security codes (starting with 29) with my CM19E. Oddly I am still not able to receive standard x10 rf codes (starting with 20).

[2018-12-03 11:41] tuicemen commented on #343
OK, it didn't turn on my A1 device at start up but I assume you removed that.
the cm19 does see security door windows and motion sensors```

2018-12-03 06:38:21.9482 XTenLib.Drivers.CM19.ReadData Debug ReadData : 29-E5-EA                        -04-FB-4C-80
2018-12-03 06:38:22.0682 XTenLib.Drivers.CM19.ReadData Debug ReadData : 29-E5-EA                        -04-FB-4C-80
2018-12-03 06:38:25.5799

[2018-12-04 11:17] genemars commented on #343
@tuicemen awesome I almost finished writing the driver. I need a few more tests:

A1 ON, A DIM, A BRIGHT
C7 ON, C DIM, C BRIGHT
P2 ON, P DIM, P BRIGHT

I also found codes for X10 Camera pan/tilt control and I will be adding support for those codes as well (starting with 14).

[2018-12-04 13:11] tuicemen commented on #343
I'm  away for a few days but will attempt do do something from here but it mat be the week end before I can test. Is there any chance RF sends can be added to the CM15?
The camera pan n tilt codes I dont expect many use any more with wifi cameras now the norm but I can test those for you as well once you add them.

[2018-12-04 15:02] genemars commented on #343
@tuiceman It's ok because I've finally managed to make my CM19 see standard rf codes (20). It turned out that the remote I was using works with CM15 but not with CM19. I am now using a different X10 remote that works. So I don't need any further info.
I'll keep you guys posted with the progress of the CM19 driver.

[2018-12-04 16:22] tuicemen commented on #343
Thats great news nice to see it isn't  defective as you originaly thought

[2018-12-05 02:37] genemars commented on #343
Early release of the new **CM19Lib**:
https://github.com/genielabs/cm19-lib-dotnet
there is also a **Test.X10** program included.

[2018-12-05 17:53] mralapete commented on #343
@genmars Just back in the loop and noticed further activity on this.

I built the driver as per your latest link https://github.com/genielabs/cm19-lib-dotnet but strangely cannot connect to my CM19. Similar messages to the ones I posted above.

I've done the following using a the Raspberry Pi Zero W with a copy of Raspbian Stretch Lite with Mono 5.4 and using the CM19 Euro version with no other ha

[2018-12-05 18:04] tuicemen commented on #343
In my tests if you had a cm15 connected you can't just unplug it and plug in the cm19 it will not find the cm19.if I rebooted it would see the cm19

[2018-12-05 20:18] genemars commented on #343
@mralapete my CM19 is also the Euro version and it's working fine. You expand the hidden posts if you click on the hidden notice.

[2018-12-05 20:40] mralapete commented on #343
@tuicemen the setup I'm using never had a CM15 attached. The CM19 when plugged in is correctly identified as the CM19 as per dmesg output.

@genmars yes I tried but GitHub is denying me access to those hidden pages.

There's nothing that could possibly be taking control of the CM19 when I plug it in so I have no idea what is causing the non connection of the CM19 when running your Test.X10.exe fil

[2018-12-06 11:42] mralapete commented on #343
@genemars I can now read the hidden posts so I can follow your progress since my last post. It appears that you have the driver functioning correctly. Could you include it in a beta release of HG so I can fully test it for you.

Can you include

[2018-12-06 11:54] mralapete commented on #343
@genemars I can now access the hidden posts so I can follow your progress on this issue since my last post.

It looks like you have created a functioning driver for the CM19

Could you include this driver in your next beta version of HG so I can fully test it at my end.

[2018-12-06 16:19] genemars commented on #343
@mralapete, yes I'm already working on this. There will be a new HG release before Christmas 🎉

[2018-12-06 18:50] genemars commented on #343
So I updated the CM19 driver repository and added two examples/test programs.
I also updated the README.md file with instructions for using the examples programs and the driver itself.

https://github.com/genielabs/cm19-lib-dotnet

Have a look and let me know if there's anything else I should put in the README.md file in order to help users get started with this. Also, please, give me some feedbac

[2018-12-06 19:05] tuicemen commented on #343
Did you add support for the pan N Tilt? if so you may wish to add a sample usage for them.
I also see no mention of security codes is the driver capable of sending those?
It will be a few more days before I can give this a test run, I can't wait to give it a test run .

[2018-12-06 19:38] genemars commented on #343
I will add support for camera commands later. Anyway both camera and security messages can already be received or sent as raw messages using the  method **cm19.SendMessage(<raw_bytes>)**.
I will add some examples to the README.md.

[2018-12-06 20:44] mralapete commented on #343
@genemars thanks for that nice piece of work. Nice to see development like this back on track in HG.

I'll close this issue now that you have a working solution.

[2018-12-06 21:58] genemars commented on #343
@tuicemen I added support for camera commands as well.
See the [new CM19Lib documentation](https://github.com/genielabs/cm19-lib-dotnet#cm19-x10-rf-transceiver-library-for-home-automation-net).

[2018-12-06 22:01] genemars commented on #306
The new CM19 driver is now available for testing and it will be soon integrated in HomeGenie.
https://github.com/genielabs/cm19-lib-dotnet

[2018-12-06 22:03] genemars commented on #343
The driver is now ready but the HomeGenie integration it is not yet there.
So I'll reopen this issue so I can reference and auto-close it as the new HG release is published.

[2018-12-08 16:50] genemars opened #346 "Macro Recording not working in 1.2-beta.14"
Macro recording results in an empty Wizard Script,

[2018-12-08 16:52] #346 closed

[2018-12-08 16:58] #330 closed

[2018-12-08 16:59] #322 closed

[2018-12-08 16:59] #321 closed

[2018-12-08 17:00] #306 closed

[2018-12-08 19:57] tuicemen commented on #344
Perhaps the built in Hue Hub program can be updated to include  a password then my HA-Bridge (modified hue program) would be obsolete.

[2018-12-10 01:44] tuicemen commented on #343
:( well it doesn't work for me I just couldn't wait to test!
main issue is now my cm15 doesn't work either

[2018-12-10 08:31] genemars commented on #343
@tuicemen It works for me. Both CM19 and CM15. Both on a fresh install and upgrade.
The only thing that is required for CM19 to work is to blacklist the kernel drivers as explained before.
In the next HG release blacklisting will not be needed anymore.

[2018-12-10 09:22] genemars commented on #343
@tuiceman this might be a problem related to where **libusb** is installed.
Do the following:
[code]
basically you have to check that the symbolic link to the **libusb** library is correct.
In the example above, the link is wrong because the directory **/lib/arm-linux-gnueabi** does not exists in more recent versions of Pi.
If the symbolic link point to a wrong path, try to fix the symbolic link a

[2018-12-10 09:42] genemars commented on #343
@tuicemen I've fixed the **MIG.HomeAutomation.dll** library, so instead of the instructions in my previous messages, just replace the **.dll** file in the **/usr/local/bin/homegenie/lib/mig** folder.
The new **.dll** will take care of creating the needed symbolic links for *libusb* and also removing the kernel drivers for *CM19*.

[MIG.HomeAutomation.zip](https://github.com/genielabs/HomeGenie/fil

[2018-12-10 12:44] tuicemen commented on #343
@genemars ok this was on a fresh install of Raspbian lite with mono 5.4 and HG 1.2-satble then updated to the beta so files were not blacklisted.
 I'll replace the dll and do the black list thing and report back.

[2018-12-10 13:17] mralapete commented on #343
@genemars just to confirm I downloaded and installed the beta version .17 and CM19 not working here. I dropped in that dll replacement fie as advised and the X10 icon is still greyed out on the screen. Maybe a little more info on what your current test rig is for this hardware/software wise might help.

[2018-12-10 13:34] tuicemen commented on #343
Still not working for me here either just notice the X10 icon at top is greyed out here too.
Also my HomeGenie folder is in /home/pi/ so the location of the dll is /home/pi/homegenie/lib/mig which may also be playing a roll in this not working.

[2018-12-10 14:50] tuicemen commented on #343
I downloaded the zip file to my PC opened it then stopped the HG service then using Filezila copied the file to the correct location never changed any permissions.  Humm I just though of something. Windows blocks some aspects of downloaded files and can prevent them from working correctly if not unblocked before unzipping and I didn't do that so I'll retry things. and get back with results.

[2018-12-10 14:55] genemars commented on #343
is there any version of homegenie that works for you? start with that and I
will tell you what files to copy from the latest .tgz . This way we can
spot from what dll is the issue coming from.

Il giorno lun 10 dic 2018, 15:25 mralapete <notifications@github.com> ha
scritto:

[2018-12-10 15:08] genemars commented on #343
@tuicemen @mralapete I am succesfully running latest HG both on Raspbian and Ubuntu:
**RASPBERRY PI**
[code]
**UBUNTU 18**
[code]

@tuicemen why are you using mono 5.x and why not installing using **gdebi** and the **.deb** package?
@mralapete are you also trying a "custom" installation as @tuicemen ?

[2018-12-10 15:10] tuicemen commented on #343
ok retried with out success both cm15 and 19 don't work .
here is the out put from ls-l
pi@X10Hub:~/homegenie/lib/mig $ ls -l
total 3240
-rw-r--r-- 1 root root   22528 Dec  9 20:12 CM19Lib.dll
lrwxrwxrwx 1 root root      44 Dec 10 09:55 libusb-1.0.so -> /lib/arm-linux-gnueabihf/libusb-1.0.so.0.1.0
-rw-r--r-- 1 root root    6144 Dec  9 20:12 LibUsb.Common.dll
-rw-r--r-- 1 pi   pi    150016 Sep 22 1

[2018-12-10 15:16] genemars commented on #343
@tuicemen I updated from beta 16 to beta 17.
[code]
Can you output also the root homegenie folder files? Maybe there are old files that should be deleted.
Especially if those files are **.dll** files that are also present in the **lib/mig** folder.

[2018-12-10 15:17] tuicemen commented on #343
@genemars I'll try a new image and use the gdebi and the .deb package.
the reason for the Mono version of 5.x is that's what provided the least problems with other addon programs. like email pictures if I remember correctly.
mralapete and I are creating a HG disk image for X10 users and included that mono version to avoid conflicts we both had. mralapete may have more info on the reason why.

[2018-12-10 15:19] genemars commented on #343
I see you have wom3 extra files in the **lib/mig** folder :
[code]
pheraps this file has to be deleted?

[2018-12-10 15:22] tuicemen commented on #343
here is the output from a dir in HomeGenie folder
[code]
I noticed some files also have the wrong permission how do I fix that?

[2018-12-10 15:23] genemars commented on #343
@tuicemen glad to see you're creating a ready to use image. A more recent mono version is absolutely not the problem. But missing dependencies might be a problem. That's why **gdebi** might come useful because it will install all required dependencies.
I'd suggest to use a standard HG installation and I might then create a work around for sending emails and attachments that works with older mono v

[2018-12-10 15:38] tuicemen commented on #343
ok reboot didn't help writing new image now

[2018-12-10 15:42] mralapete commented on #343
@genemars I've just noticed you're using Mono 3.2.8 on the Raspberry Pi and you say you've updated your system. From that I'm concluding your actually using the Raspbian Jessie build. Mono 4.6 is the build currently in the Raspbian Stretch repos if I'm not mistaken. I'm using Stretch and Mono 5.4 from the Mono project. I don't think we are singing off the same sheet here.

The only customisation I

[2018-12-10 16:19] tuicemen commented on #343
I updated my loghome off grid place last night the X10 works there with the Cm15 but I can't test a Cm19 till I get back up there after the new years it was running beta16 but if I remember it is on mono 4.6 still play with installing Beta 16 here with mono 4.6 but I suspect it will work. using the gdebi

[2018-12-10 16:56] tuicemen commented on #343
ok got it working with the cm15 but response time is very slow.
I'll do some experimenting now.
 @genemars  if you could email me I'd like to get so input from you on the Image were working on
  tuicemen at Hotmail dot com
Alternately you can log into http://forums.x10.com and PM me there.

[2018-12-10 21:02] mralapete commented on #343
@genemars ok good news. I did a fresh install using your gdebi package installer. I blacklisted the recommended drivers. CM19 now working and turning lights on/off in beta .17. Just to summarise, I am using Raspbian Stretch Lite, installed HG with gdebi which is using Mono 4.6.2. I made no additional changes by replacing the dll file as you recommended nor did I change any file permissions. Its a

[2018-12-10 21:45] tuicemen commented on #343
looks like what ever was changed between 1.1-stable.527 and 1.2-beta.2 may be what is causing the issue with X10 using the tar installs and mono 5.x
The gdebi package installer works just fine with Mono 4.6.2 as @mralapete  stated.

[2018-12-10 22:42] tuicemen commented on #343
I have the CM19A controlling all my X10 regular modules in beta 17 .
I've tested the tar install of  HG1.1-stable527 with mono 5.x and x10 works with it I removed  that version and tried 1.2-beta.2  it installs fine but X10 doesn't work.

I also tried to use the upgrade function which also updates to 1.2-beta.2 but X10 fails for the CM15.  I don't have a cm11 to see if it affects it. I orginally t

[2018-12-11 00:49] mralapete commented on #343
@tuicemen Gene never mentioned he had pinned HG to any version of Mono. Others found that it was a solution to operational difficulties they were having with certain programs running in HG. If you look above in a previous reply to me he has Mono version 3.2.8 running on the Raspberry Pi while Mono version 4.6.2 is running on Ubuntu 18. It just depends what particular version of Mono is available i

[2018-12-11 01:03] tuicemen commented on #343
true not directly, but stating

could lead one to think that.

[2018-12-11 02:57] tuicemen commented on #343
@genemars  v1.2-stable.18 installs fine using the deb package and both the cm15 and cm19 can send commands without requiring to blacklist files.
Good Job! A very large X10 community  will enjoy this!

[2018-12-11 14:14] tuicemen commented on #343
version stable 18 has been running  for a few hours now and not picked up my security module heart beats
So it is looking like the security side of things needs some tweaking.

[2018-12-11 14:32] tuicemen commented on #343
Ok just checked again seems it is seeing security heart beats just reporting different then the cm15.
looks like I have to reconfigure things.
@genemars when I go to add modules to a home screen I see the Cm19 listed as a module is there a reason for that? the cm15 isn't shown At least not in previous builds.

[2018-12-11 15:09] tuicemen commented on #343
Ok I got all my security Door window sensors and security key flobs entered.
Although the Cm19 does see security plam pad signals (sh624) it doesn't add them as security modules so you can add them to the HG web page same for security motion sensors

[2018-12-11 22:22] genemars commented on #343
@tuicemen Yes the "CM19" module shows the raw RF data. The equivalent for the CM15 is named as "RF".

[2018-12-11 22:55] genemars commented on #343
@tuicemen I didn't realize that CM19 is reporting different addresses than CM15.
Would it make sense if I try to make both sending same addresses?

[2018-12-11 23:12] tuicemen commented on #343
I believe it is reporting the same address  as the key flobs are the same for both units just the door/window and motion sensors need to be readded.like I say not a big deal as most users won't be swapping controllers. One thing I've noticed is the names don't get saved for the device when the Cm19 sees the module after a reconnect/reboot even though it remembers the module. I believe that is the

[2018-12-12 13:48] tuicemen commented on #332
@genemars  with the latest stable 18 build HG doesn't display the security modules names after re-detecting the modules after a reboot.  Both using the cm19 and the cm15 behave the same.
prior to this the modules would display their given names once redetected by the cm15.

[2018-12-13 12:59] tuicemen commented on #324
For those using X10 there is always the X10 forum for HG help ! Http://forums.x10.com
It is also where you'll find a Pi image which includes HG pre-installed.

[2018-12-13 14:41] mralapete opened #347 "An interface for the GE Concord 4 security panel"
@genemars do you think it would be difficult for you to write an interface for HG for the above based on this GitHub project
https://github.com/darconeous/concordd

[2018-12-17 13:21] tuicemen opened #348 "1.2-stable.19 load /refresh using a CM19"
###
The Web UI to load to display and respond as quickly no mater which X10 interface is loaded

### Actual behavior
the WEB UI loads much faster using a CM15 interface verses a Cm19, If a Cm19 is used the Page seems to load quickly with all widgets then blanks out showing theme and background only with out any devices or modules, sometimes the loading spinning Icon displays but then disappears. I

[2018-12-17 16:02] tuicemen commented on #348
I may have found my root cause of this.
while trying to compare a Cm19 functions I added security modules to the same backup I already had associated with the Cm15. Although the same modules and same codes HG seems to get confused with both and tries to select the correct Interface. It always gets the correct cm to connect with but since so many RF receives are coming in from heart beats I think t

[2018-12-18 12:45] genemars commented on #347
Not a easy task, but possible. Though my priority now is the new HomeGenie UI and minor adaptation to HG server that are required to get best out of the new UI.

[2018-12-18 15:38] tuicemen commented on #348
Ok it does indeed look like this is the issue at least for sure if using a Cm15 and cm19 security widgets are also used in the HG layout. I'll load up the cm19 with the cm15 security widgets removed and see it that helps in that scenario as well

[2018-12-18 17:06] alzzy commented on #348
I installed latest release on win 10 PC and it would not control a cm19a.

[2018-12-18 17:22] tuicemen commented on #348
@alzzy this I don't believe has been tested on a Windows PC do you have a CM15 to try?
Was this a new install or an update from an older version of HG?

[2018-12-18 17:40] alzzy commented on #348
Download page says win10 supported! It was a new install. No I can't take
my cm15 out of service just now.

On Tue, Dec 18, 2018 at 12:22 PM Tuicemen <notifications@github.com> wrote:

[2018-12-18 18:07] tuicemen commented on #348
maybe start a new issue for it as not to get lost with this one.

[2018-12-18 18:18] alzzy opened #349 "CM19a not working"
I installed latest release on win 10 Laptop and it would not control a cm19a. Enabled cm19 interface but it does not respond. PC recognizes cm19 and driver is working. After I had this issue I installed x10 Commander and it controls devices with cm19a just fine. Did a reinstall of HG and got same results.

[2018-12-18 18:39] mralapete commented on #349
Is there any other X10 software installed on your computer.

[2018-12-18 18:40] alzzy commented on #349
No.

On Tue, Dec 18, 2018 at 1:39 PM mralapete <notifications@github.com> wrote:

[2018-12-18 18:42] tuicemen commented on #349
x10 commander uses X10 drivers so these would conflict with HG have you tried another USB port?

[2018-12-18 18:47] alzzy commented on #349
x10 commander was not on pc initially. I only installed it after HG would
not control cm19. To verify pc would communicate with cm19 and that cm19
was ok. Besides cm19 is a usb device and any app should be able to get to
it. Removed x10 commander and still had issue.

On Tue, Dec 18, 2018 at 1:42 PM Tuicemen <notifications@github.com> wrote:

[2018-12-18 18:47] alzzy commented on #349
Yes tried all 3 usb ports.

[2018-12-18 18:54] mralapete commented on #348
@tuicemen have you edited your /etc/hosts file to include your raspberry Pi computer name. You can off load a lot of the overhead on the web Api this way.

[2018-12-18 19:00] tuicemen commented on #348
I though I had it setup the same as the image were working but since this is a different mono in use I may not have in order to keep them easy to distinguish,  I'll check as soon as I get HG back up it seems to have lost its port.

[2018-12-18 19:47] alzzy commented on #349
Tried to install HG on a second Win10 machine. Get popup window says "7-zip error unsupported method"
Installed but when I go to config screen there is nothing there .

[2018-12-19 08:52] mralapete commented on #347
Understood. As an alternative this work done in Python might make it easier to expose the panel to HG. https://github.com/JasonCarter80/concord232

This panel is is catered for in many of the Home Automation systems currently on the market.

[2018-12-19 11:49] tuicemen commented on #349
May be try a different free zip tool from the Windows store

[2018-12-19 11:56] tuicemen commented on #349
Gene has put out a couple releases since your post. I'm not sure which version you tried but you may wish to try stable22 as many of the prior releases are now labled prereleases and some aren't even available now.

[2018-12-19 13:09] alzzy commented on #349
where do I find it? The HG download page is throwing a 404 error.

[2018-12-19 13:10] tuicemen commented on #349
https://github.com/genielabs/HomeGenie/releases/tag/v1.2-stable.22

[2018-12-19 13:13] tuicemen commented on #349
If you wish to use the same version as the PiX10Hub then this https://github.com/genielabs/HomeGenie/releases/tag/v1.1-stable.527

[2018-12-19 13:40] alzzy commented on #349
Which file do I want for windows install?

[2018-12-19 13:47] tuicemen commented on #349
When in doubt check the documentation https://genielabs.github.io/HomeGenie/index.html#/get_started for the latest versions.

However the EXE extension  one should get you the Windows version

[2018-12-19 14:17] alzzy commented on #349
Already tried that. That webpage is not at all helpful for this install as it directs one to a windows install page that goes to a 404 error page. I tried the .exe file from the github Unzipped with win zip. But there is no msi installer. Once unzipped what file does the actual install?

[2018-12-19 20:37] genemars commented on #349
@alzzy can you please try latest build?
https://github.com/genielabs/HomeGenie/releases/tag/v1.2-stable.26
Is there someone that can also test this with a CM15 on Windows?

[2018-12-20 15:49] mralapete commented on #349
I assume you installed the driver first and rebooted your PC before you connected the CM19

[2018-12-20 15:59] tuicemen commented on #349
@genemars I can test this but not till the week end.

[2018-12-20 15:59] alzzy commented on #349
Can someone direct me to details on how to install this in windows?

Thanks

[2018-12-20 16:03] tuicemen commented on #349
I would assume download this- https://github.com/genielabs/HomeGenie/releases/download/v1.2-stable.26/HomeGenie_v1.2-stable.26.exe
then click on the exe file

[2018-12-20 16:13] alzzy commented on #349
OK Thanks I will try later today. Is there any special procedure for installing drivers or are they installed automatically with the application?

[2018-12-20 16:24] mralapete commented on #349
Windows installer should take care of everything. Remember no other X10 drivers should be installed as they will cause a conflict. After install check your Windows device driver. You should see it loaded there.Install first then connect the CM15

[2018-12-20 20:32] alzzy commented on #349
It WORKS! v1.2-stable26 installed on win 10 and controls cm19a. Will do more testing later.
Thanks for the help!

[2018-12-20 21:01] tuicemen commented on #349
@alzzy  that's Great!
 Maybe you can close this issue. and if after testing you find a problem then a new issue can be opened.Iit helps keep things tidy and nothing gets missed.

[2018-12-20 21:05] #349 closed

[2018-12-20 23:48] tuicemen commented on #344
I believe that this is no longer a issue as every thing seems to be working!

[2018-12-20 23:48] #344 closed

[2018-12-21 14:09] alzzy opened #350 "Question: Moving setup to another HG install"
If I want to save a copy of my HG devices, timers, macros, etc or move them to another win10 HG installation what file(s) do I save/copy?

[2018-12-21 14:12] tuicemen commented on #350
Just do a HG back up then in the new HG install run a update just how you would in the PiX10Hub project (Pi image)

[2018-12-21 16:09] alzzy commented on #350
Got it! Thanks again!

[2018-12-21 16:09] #350 closed

[2018-12-24 13:40] tuicemen opened #351 "Option screens for programs don't load"
### in Configure /programs when you click on a program a screen use to pop up displaying options to enter if the program had them also was a bit of info on the program, buttons to exit, edit ,save I believe

### Actual behavior
now when you select a program the edit page pops up with no chance to add/enter option info

### Steps to reproduce the problem starting from a fresh install

  1.once inst

[2018-12-24 16:53] tuicemen commented on #351
It is looking more like  bad backup files :(
have same issue on mono 4.62 even if I revert to HG 1.2-stable.18
I'd do some more testing  looks Like I introduced something HG doesn't like with a back up maybe an addon program

[2018-12-24 16:53] #351 closed

[2018-12-26 12:04] genemars commented on #351
Hi @tuicemen,
the program options popup has been removed from the program's list page. Now clicking on a program from the list will open the editor.
Program's options are still available from the **Configure->Settings** page.

[2018-12-26 12:10] tuicemen commented on #351
@genemars  Ah no wonder I couldn't figure out what the cause was thought it was my back up but I loaded it in an older version and it worked till updating. thanks for the Heads up that saves me a day  of useless trouble shooting.

[2018-12-26 18:41] mralapete opened #352 "Raspberry Pi CSI camera module not working with HG in Raspbian Stretch"
@genemars Back with HG v519 and Raspbian Wheezy HG recognised the Raspberry Pi CSI camera module and was able to display an image. The support for this I believe was done through the v4l2 driver package. This stopped working in Raspbian Jessie and still does not work in Raspbian Stretch.

Would it be difficult to reintroduce support in HG for the Raspberry Pi CSI camera module.

[2018-12-27 12:46] genemars commented on #352
I think that the best option is to install some other specific software (eg. **picamera**) and then use the *Generic IP Camera* program to integrate it in HG.

[2018-12-27 19:20] mralapete commented on #352
@genemars I still have the HG Raspbian Wheezy setup with the CSI camera moduke working on the Raspberry Pi. I'll look into the v4l2 driver that's setup for it. I imagine I'll be able to replicate this in Raspbian Stretch by rebuilding a newer version of the bcm2835-v4l2 driver and modprobe it into my current install. I did a bit of work on this in Raspbian Jessie but didn't have the time to finish

[2018-12-27 20:18] #352 closed

[2018-12-27 21:45] alzzy opened #353 "CM19a issue"
I am using cm19a in HG on the Pix10hub 1.1 release. Running on Pi Zero W.

I have my cm15a unplugged (also its RF interface is disabled). I have shutdown my Alex10 app and its HA bridge. I have no other x10 software running and the cm19a is my only x10 interface. I use at v572a tranceiver. I have cm19a selected as the x10 interface in HG. Interface function is erratic. If a command is not sent to

[2018-12-27 23:32] mralapete commented on #353
CM19 driver working in HG v1.2-Stable .28 perfectly both on the Raspberry Pi Zero W and the Raspberry Pi 3+ under  Raspbian Stretch Lite. Also working perfectly in Ubuntu 18.04. All commands issued are acted upon instantaneously.

Suggest you look at the additional software you are running in parallel with HG to isolate you problem. You may need to run that additional software on a separate Pi ser

[2018-12-28 00:10] tuicemen commented on #353
My Cm19a led doesn't even light up the slightest using HG I actually Had thought the LED had burnt out. I use the cm15 but have tested the cm19.
I too have experienced the need for a double push of the on or off buttons in HG occasionally if the system has been idle for a while. I'll do a bit more testing to see if it is a particular module which may indicate a noise or signal sucker at play here.

[2018-12-28 00:15] alzzy commented on #353
Tuicemen,
How could it be a module problem if the CM19a doesn't light up? The cm19 isn't transmitting a command, Doesn't it have to be a Pi or HG issue or HG driver issue?

[2018-12-28 00:20] tuicemen commented on #338
I created a script to revert to a specific HG build which actually works very well for the X10 community created PiX10Hub Image as a work arround for now.

[2018-12-28 00:35] tuicemen commented on #353
My Cm19 (unit)LED light has never lite up using HG (that I noticed) but the commands do go threw and modules do come on/off.
RF signals can be affected by a number of things in fact nothing is received if my CM19 is in the basement.
@mralapete I tend to agree however I never ran the CM19 for an extended time with a large configuration. I believe location of the cm19 to be the major issue at play h

[2018-12-28 00:42] alzzy commented on #353
My cm19 is in the same position it was in with Alex10. Its not a position or RF issue. I have rock solid RF in my set up. In my set up when the cm19 led does not light up I get no module response , when it does I get module response. Every time. Its either a driver issue or the Pi zero has an issue.

[2018-12-28 00:45] mralapete commented on #353
The Pi Zero W is a relatively low speced board to run two separate servers on. The overhead placed on it from additional traffic could well be causing your problem. The Pi 3+ would be a more suitable unit to use here or as I suggested split the load between two separate Pi servers and expose one server to the other via the many methods explained in the HG documentation.

Once again the CM19 is fun

[2018-12-28 00:48] alzzy commented on #353
Well that's a bummer! Tuicemen do you agree?

[2018-12-28 00:55] alzzy commented on #353
The little cm19a is overburdening the Pi Zero?? But the cm15a doesn't?

[2018-12-28 01:06] tuicemen commented on #353
The cm15 is self powered the cm19 draws power from the Pi
The Zero may not be supplying enough power to give a good RF signal.
As I stated before I've not done enough testing with the CM19 and the Pi Zero I only know HG does send the RF signal to the CM15.
I only have Pi zero W boards here in the city.

[2018-12-28 12:56] genemars commented on #353
When the RF signal is weak, sending the same message more than just once can improve the result (maybe the initial RF start burst is not recognized very well).
Even X10 sensors send 4 times the same message (with a very short pause between each), to give the message more chances to be received correctly.
So I can make CM19Lib send the RF message **twice** by default and make this parameter configu

[2018-12-28 13:05] alzzy commented on #353
genemars: Sounds like the thing to do! But I'd vote for **Thrice** just to be sure.

[2018-12-28 14:00] alzzy commented on #353
genemars: is sending a command and triggering a cm19a a significant increase in load on the pi processor over doing the same with a cm15a?

[2018-12-28 15:20] tuicemen commented on #353
@alzzy I'm not sure how close your pi/cm19 combo is to your  v572a but why not put them next to each other as a test.
I know if I put my cm19 next to a transceiver it works every time the further away the more unreliable it is.
 Also I've now tested the CM19 with 3 different Pi Zero W boards. Some actually light up the LED on the CM19 with a command send. So they definitely don't all send the same

[2018-12-28 15:33] alzzy commented on #353
Maybe the PI Z usb port can't reliably supply power to the cm19 and the thing to try is to provide power to the cm19  directly from a power adapter rather than have the Pi Z supply power thru the usb port. Thoughts? Do you know if anyone has had success with a powered usb hub on a Pi Z Pix10hub?

[2018-12-28 15:39] tuicemen commented on #353
A powered USB hub would most likely help although some users have fried their zero W boards with a powered hub. For this reason I won't recommend you try it. If you do attempt this you have been warned should you fry the board.

[2018-12-28 21:08] mralapete commented on #353
@genemars what work have you based your CM19 driver on. There's one recent user of HG that is experiencing difficulty using your CM19 driver and there's a third party server in the form of HA Bridge involved in their setup. Maybe if you installed the HA Bridge yourself and tested your driver you could determine if the problem lay with your CM19 driver and not with how comms are handled between the

[2018-12-28 21:48] alzzy commented on #353
I am confused by the above. Tuicemen, what is your sense of the Zero W issue. USB power to power the cm19a or processing power to command it? If is usb power then perhaps an external supply to power the cm19a could fix it.

[2018-12-28 22:53] mralapete commented on #353
Ok. I'll leave it to the X10 North American v European debate so. I don't believe that this is an issue though. What I will say is that any additional overhead on a lower speced board like the Pi Zero W v the Pi 3B+ will introduce performance issues. Fact. I've tried the HA Bridge on the same Pi Zero board as HG and on  a separate Pi Zero board and there is a minor difference.

Once the correct po

[2018-12-28 23:10] genemars commented on #353
Yes I might add support for Alexa and other voice controlled gateways directly in HG. But I'm currently working on something else, so not sure when I'll start looking at this.

[2018-12-28 23:11] genemars commented on #353
@tuicemen @alzzy even though probably this is not an issue I wanted to make a small modification to CM19Lib and XTenLib to make RF comms more reliable.
I'm publishing the new release shortly.

[2018-12-28 23:17] tuicemen commented on #353
@alzzy In my opinion I wouldn't and don't intend on using a CM19 with my Zero W board.
If you want more reliable performance use a CM15.
I plan to test a CM19 with my pi 3B+ which is at my off grid place but that will not be for several months.
@genemars  I'm sure the small modification will be most welcome.
while playing with the CM19 I noticed if I had HG set to use the CM15 it would still see R

[2018-12-28 23:20] genemars commented on #353
Yes it can be done but I don't see any possible use.

[2018-12-28 23:49] tuicemen commented on #353
Other them a smaller download I don't see any benefit except maybe adding a option for a cm15 to send either RF or PLC with a simple switch option in the widget instead of having to create a macro.

However this was just me thinking out loud ;)

[2018-12-29 00:31] alzzy commented on #353
I never had reliable rf coms with the cm15. If it were me I would disable the cm15 RF capability and install a V572A transciever. did it 20 years ago and have had great rf coms ever since.

[2018-12-29 01:16] tuicemen commented on #353
Yes I'm one of the few that have reliable RF  with my CM15A. However I rarely send any RF from my CM15A. HG by default sends PLC from it which is why for most people the CM15 is the better option over a CM19

I do believe @genemars new update to the drivers will no doubt improve things for you.

[2018-12-29 15:47] tuicemen commented on #353
I'm wondering if we got off track from the OP, possibly due to the title.
The issue was the Web UI failed to send a command on first click of a device if no activity on the web page for some time.
This morning I came in started the PC then opened the HG Web UI Running on my Pi and clicked on the widget for my office light. Nothing happened and this Pi is connected to a Cm15.
a second press of the

[2018-12-29 15:51] alzzy commented on #353
Or there could be 2 issues!

[2018-12-29 15:54] alzzy commented on #353
As I have HG running on win10 PC with stable.28 and with cm19a i don't have the double click issue.

[2018-12-29 15:55] tuicemen commented on #353
I don't believe there is/was a driver issue as I stated my issues with the CM19 are range.
What I experienced this morning was what you first raised in your OP only difference being the controller.

[2018-12-29 15:58] tuicemen commented on #353
So this proves it isn't a driver issue, nor a issue with HG, but the Pi Zero W.

[2018-12-29 15:59] alzzy commented on #353
My issues with cm19a are not range but reliable triggering of cm19a. No led flash no device response regardless of how close i am to tranceiver. P;lease don't derail my issue. Open a new one.

[2018-12-29 16:03] tuicemen commented on #353
I'm not derailing the issue as I experience this with the Cm19 As I have stated, and this is what your OP was about.
you stated:

 Its like the first click wakes it up and the second transmits the command.

[2018-12-29 16:08] alzzy commented on #353
The driver recognized by win 10 and the one recognized by linux my be different or each OS may respond  differently or incorectly to the same code. Please open a new issue.

[2018-12-29 16:49] alzzy commented on #353
In any case in the world of RF comms its always a good idea to send multiple commands.

[2018-12-29 17:00] alzzy commented on #353
And by multiple I mean repetitive. That greatly increases the chance of the signal getting thru.

[2018-12-29 23:14] genemars commented on #353
@tuicemen @alzzy **v1.2-stable.30** should fix a few minor issues with X10 and adds security modules DB to restore security modules on reboot/restart.
I published as stable, but CM15, CM19 and CM11 should be tested again.

[2018-12-29 23:39] alzzy commented on #353
The above was with stable.29.  I will update to stable.30 and retest

[2018-12-29 23:59] alzzy opened #354 "Updating Issue"
HG on Pi Zero with stable.29 and stable.30

I noticed on my last two updates stable.29 and .30 the update window with the spinning wheel never says complete, just keeps spinning saying "installing files- HG service stopped" even after 15 minutes. How long should it take? I can see the HG home screen in the background responding to the built in macros during the process.

[2018-12-30 02:02] alzzy commented on #353
Updated to stable.30. Still experiencing unreliable performance to a single click on On or Off.

[2018-12-30 11:18] alzzy commented on #353
I am Using Chrome. Don't know what Tuicemen used. Never used debugger so no,

[2018-12-30 13:37] tuicemen commented on #353
updated to stable 30 using my phone last night and though unrelated it should be mentioned the installer from inside HG hung on the installing this didn't affect the install as a refresh opened HG with the new version installed. I don't recall having to do that when installing from a windows browser.

I've tested Stable 30 just with the CM15 though have it loaded on another pi for the cm19.
the Cm

[2018-12-30 13:51] alzzy commented on #353
I also had the installer hang on both stable.29 and stable.30. Didn't do it on win10 install of the latest win release stable.26

[2018-12-30 13:57] alzzy commented on #353
FYI, I reported that as issue #354 yesterday

[2018-12-30 14:15] tuicemen commented on #354
Since  I've always experienced this when updating using my smartphone I never considered this an issue with HG but my phone.
 I figured the browser just was failing to refresh and a manual refresh always brought up the new build.
I believe I still have one HG pi I've not updated so I'll use my windows PC and browser for it and report back. I know older updates using my windows browser never hung.

[2018-12-30 17:47] mralapete commented on #353
Guys when you experience a problem with HG you need to run it in debug mode so your actual problem can be identified. There are so many variables at play here like browser type, OS, hardware etc that can cause the issue and not necessarily HG. Do you know how to run it in debug mode and report the issue

@genemars I thought running HG in debug mode and reporting the issue this way was standard pro

[2018-12-30 17:49] mralapete commented on #354
Run HG in debug mode, copy and paste the results here on the GitHub.

[2018-12-31 15:04] alzzy commented on #353
Here is some log data.
[Module Double click log123118.txt](https://github.com/genielabs/HomeGenie/files/2718493/Module.Double.click.log123118.txt)

[2018-12-31 21:35] alzzy commented on #353
I did a manual install of stable.30. Still have the double click issue. I did notice that when I single click and the cm19a **does not transmit,** the flag in the HG gui in the upper right corner comes out after 4 or 5 seconds after the click announcing the command but the cm19a does not respond.

[2019-01-01 12:57] genemars commented on #353
I'm trying this on my laptop and it's working. Whenever I submit a command the CM19 led flashes and the command is performed with no visible delay.
So are you both @alzzy and @tuicemen experiencing the same problem?
The log @azzly sent looks fine... this is mine:
[code]

If the CM19 led is not flashing then it means the command is not sent for some reason.
Have you tried the CM19 on a different sy

[2019-01-01 13:36] alzzy commented on #353
I have HG installed on a win 10 pc and I **do not** have this issue with the cm19a. It is very reliable. I do **still see it** on the RPi. On Win 10 when I send a command the LED flashes and the command is sent and the device responds. I also agree "No flash, no command sent"

[2019-01-01 13:39] alzzy commented on #353
PS, It does not appear to be house code dependent in my case

[2019-01-01 13:58] alzzy commented on #353
Also it appears to be related somehow to the web gui as tuicemen reported he saw the issue with the **cm15** when triggered from the browser but that the overnight responses to HA bridge commands were successful. Also I know of another individual using the cm19a on a Pi Zero W with a different sd image and no web gui who gets reliable cm19a performance.

[2019-01-01 14:00] alzzy commented on #353
I thought that this in my earlier post might be a clue " I did notice that when I single click and the cm19a does not transmit, the flag in the HG gui in the upper right corner comes out after 4 or 5 seconds after the click announcing the command but the cm19a does not respond."

[2019-01-01 14:01] genemars commented on #353
@alzzy let's check **libusb** again from HG folder:
[code]
is the **libusb-1.0.so** symbolic link pointing to the right location?
This might be an issue with with the **libusb**  path in which case also the CM15 driver should be broken.

[2019-01-01 14:07] alzzy commented on #353
Tuicemen, Can you check this> i have no idea how!

[2019-01-01 18:55] alzzy commented on #353
I am not sure that is a valid conclusion as the issue was also seen with the cm15a which **does not** rely on the Pi for power. Furthermore , Tuicemen noticed that the system with cm15a ran fine when triggered by the HA bridge but sometimes took a double click when triggered from the web gui. So I don't agree.

[2019-01-01 19:13] genemars commented on #353
@alzzy the cm15 does not rely on usb for powering itself but it will still absorb some power when attached to the usb port.
What power supply are you using?
Using the web UI will involve network communication, that will require more power I guess.
I still believe this might be the cause.

[2019-01-01 20:44] genemars commented on #353
@alzzy I'm now using a **5.2V 1.35A**  power supply and everything is running fine on a RPi Zero (v1.2 2015) with a 4 port USB switch, TP-link wifi dongle, CM19.

[2019-01-01 20:51] alzzy commented on #353
I am confused. So what is the fix? You saying my 2.5 A 5v supply is not adequate?

[2019-01-01 20:57] genemars commented on #353
@alzzy I'm confused too... it lasted for a few minutes then it hung and I had to reboot.
Does anyone tried upgrading mono from xamarin repos? I'm gonna try this too.

[2019-01-01 21:07] alzzy commented on #353
genemars, Let me know what u learn?

[2019-01-01 21:09] genemars commented on #353
This time after the reboot I did wait like 5 minutes before opening the web ui and its working. Not sure if it will last. 🙂

[2019-01-01 22:08] alzzy commented on #353
Well that explanation doesn't seem to fit either as I know someone using the same hardware but with some what different software and he has excellent performance with cm19.

[2019-01-01 22:36] alzzy commented on #353
Well I guess I am dead in the water then as they say. The implementation that works using the same hardware is triggered by a voice command via alexa and that appears reliable, in my situation it is triggered by a web gui and it isn't reliable. Does that provide any focus?

[2019-01-01 22:59] mralapete commented on #353
@genemars in all this discussion have you considered that the addition of the HA Bridge server on the same Raspberry Pi Zero W on top of HG is creating an additional load on the low spec Pi processor and memory. The OP should either disable the HA Bridge and run his tests again or move his system to the more powerful Raspberry Pi 3+.

[2019-01-01 23:00] genemars commented on #353
let's try this:
- ssh your pi
- cd /usr/local/bin/homegenie/html
- wget -O index2.html http://127.0.0.1/hg/html/index.html
- open the web ui using http://<rpi_address>/hg/html/index2.html

[2019-01-01 23:12] alzzy commented on #353
on the wget is that -O the letter cap. O

[2019-01-01 23:13] genemars commented on #353
@alzzy yes it is uppercase `-O`.

[2019-01-01 23:15] alzzy commented on #353
i get a 404 error not found

[2019-01-01 23:19] alzzy commented on #353
on the putty screen in response to the wget

[2019-01-01 23:19] genemars commented on #353
@alzzy what port is hg running on?

[2019-01-01 23:20] alzzy commented on #353
8080

[2019-01-01 23:21] genemars commented on #353
so change the url in the wget command accordingly
[code]

[2019-01-01 23:39] alzzy commented on #353
No joy! same problem.

[2019-01-01 23:49] alzzy commented on #353
Its like if you give it  enough time between toggling a device on or off, the Pi goes to sleep and  it takes 1 click to wake it up and a second click to send the command.

[2019-01-01 23:50] alzzy commented on #353
and that time needs to be many seconds, sometimes even longer.

[2019-01-01 23:55] genemars commented on #353
alzzly, tried disabling HA bridge?

[2019-01-01 23:57] alzzy commented on #353
no, how do I do that

[2019-01-02 00:00] alzzy commented on #353
oh in the gui. I can stop the bridge. I will try that!

[2019-01-02 00:09] alzzy commented on #353
No doesn't help

[2019-01-02 13:19] alzzy commented on #353
Do i need to undo the index2 somehow?

[2019-01-02 13:41] genemars commented on #353
@alzzy not necessary.
This morning my RPi zero was still running happily with no issues.
So the only moment I've been able to reproduce this issue was in the beginning of my tests when I had problems with the USB HUB connector and the power supply.
In that case the problems with the USB I/O where already evident even before HomeGenie was installed, any extra device connected to the USB HUB was mak

[2019-01-02 14:09] alzzy commented on #353
Gene has put considerable effort into trying to id and correct this issue. I have helped with some of the testing. The results seem to confirm the conclusion that the PiX10 hub is not compatible with the cm19a. It seems to be a systems issue, ie HW + SW, as the cm19a does seem to play well with the Pi Zero w in one known instance where it is used as an Alexa Hub. Or that could be a "Random Success

[2019-01-02 14:20] alzzy commented on #353
The fact that one user has reported a similar issue with the cm15 is bothersome wrt the PiX10 Hub application.

[2019-01-03 12:20] mralapete commented on #353
Gene just to confirm that the CM19 driver is working solid on both the Raspberry Pi Zero W and the Raspberry Pi 3+. HG in general is a lot more responsive on the Raspberry Pi 3+ probably because both the memory is double that of the Raspberry Pi Zero W and the processor is quite a bit faster and there's no need for USB powered hubs.

[2019-01-03 20:47] genemars commented on #353
I just published **v1.2-stable.31** which now allow using UPnP library in automation programs.
So I created an example program that simulates a Belkin Switch so that Alexa can discover it.
Anyone who can test this with Alexa??
To test this:
- import the attacched automation program
- eventually modify the first line to point to a module of your pick
- Action->Run to start the program that will cre

[2019-01-03 20:51] genemars commented on #354
Fixed by **v1.2-stable.31**.

[2019-01-03 21:16] #354 closed

[2019-01-03 21:34] tuicemen commented on #353
@genemars
 I been tring to fight off a bad christmas virus that got ito my eyes so ive not been able to comment on things as late I'll attemp to test this as soon as I can see straight.

[2019-01-04 02:01] mralapete commented on #353
Initial test of your Belkin Switch program. Alexa not discovering a chosen device

[2019-01-04 10:16] mralapete commented on #353
@genemars could you open this as a separate issue

[2019-01-04 10:35] genemars opened #355 "Virtual UPnP devices: WeMo emulation tests for Amazon Alexa/Google Home integration"
Continuing from thread from #353 .

[2019-01-04 10:37] genemars commented on #355
@mralapete can you describe the procedure to add a device to Alexa? This might helping me figuring out what to do.

[2019-01-04 11:35] mralapete commented on #355
Also this is where it was left before the old forum was closed down http://old.homegenie.club:8080/www.homegenie.it/forum/index2513.html?topic=1715.0

[2019-01-05 17:17] genemars commented on #355
Ok @tuicemen I've got a better HGX to test.
This one adds the **UPnP Emulator** option to the *Options/Features* dropdown of any switch or light module.
Simply activate this flag for every switch and light that you want HG to make discoverable as stand-alone UPnP device (a fake Belkin WeMo type).

[1000-UPnP_Emulator_v1r1.hgx.txt](https://github.com/genielabs/HomeGenie/files/2729697/1000-UPnP_Emul

[2019-01-05 19:17] tuicemen commented on #355
@genemars
ok this is causeing my brain to go back into a fog I started the program added a couple of devices and selected the alexa option when I attempted to add the alexa option to the second device the option wasn't there so I figured I'd just discover devices with Alexa nothing new was found so I went back to HG and the program wasn't activated so I reactivated it went to be sure the device I'

[2019-01-05 19:53] tuicemen commented on #355
ok maybe My brain is still not fog free!
Nope I'm sure it isn't now! missing all kinds of stuff that a 4 year old would have done.
I've still not got Alexa to discover anything new  but may be by days end things will start to comeback to me.
So as  of right now don't take my findings to serious. ;)

[2019-01-05 21:59] genemars commented on #355
I've integrated this functionality in the new **v1.2-stable.33** release.
Open HG, open a module options (eg. the "Porch Light" in the demo dashboard) and then from the "features/options" list select "UPnP Emulation". Activate the "Emulate UPnP device" option and save.

[2019-01-05 22:47] tuicemen commented on #355
Downloading now! is the 1000-UPnP_Emulator_v1r1.hgx still required? should I delete it?

[2019-01-05 23:06] genemars commented on #355
@tuicemen you can delete it since it's already present in r33 (under *Devices and Things* category).

[2019-01-05 23:20] tuicemen commented on #355
Ok updated changed one of my Zwave switches to emulate UPnP saved the info then opened my Alexa app to discover devices and still no new devices are seen am I missing a step?
Is there a specific switch or light type this has to be applied to?

[2019-01-05 23:31] tuicemen commented on #355
My HG is running on Port 8080 should it be on 80?

[2019-01-05 23:42] tuicemen commented on #355
well that wasn't any help oh wait my UPnP isn't enabled,....
Well that (enabling didn't help)  Maybe a reboot?

[2019-01-05 23:51] genemars commented on #355
@tuicemen UPnP will work despite the port being used for the UI. I also tried Alexa app and it cannot find a thing not even my Hue Bridge, nor the Smart TV.
Maybe using a Echo device gives a better result?
Have you in any case succeed in using the Alexa app with something?

[2019-01-06 00:00] tuicemen commented on #355
The Alexa app works and sees HA-Bridge configured devices and Broadlink RM devices.
I also use the PC app https://alexa.amazon.com/spa/index.html#cards which works for discovering but doesn't have the options the phone app has.
I also tried just asking alexa to discover devices with the same result.

[2019-01-06 00:01] genemars commented on #355
@tuicemen no need to enable UPnP interface to use this feature.
Anyway to verify that the UPnP devices are created you can use a tool like `gupnp-universal-cp` for linux (part of `gupnp-tools`).
Ok so I'll have a look at how to make it working with HA bridge and I'll figure out eventually what to do.

[2019-01-06 00:06] tuicemen commented on #355
you might want to look at  https://github.com/davidwallis3101/HomegenieEchoBridge Too which @mralapete  pointed to earlier.
I had originaly thought of using it for Alexa but the bridge hand support for the Broadlink which allowed capturing and sending any IR or RF signal which enabled X10 security arming and disarming possible.
davidwallis stated it was compile basically the same as HA-Bridge.

[2019-01-06 00:37] genemars commented on #355
Ok @tuicemen I had a brief look at the HomegenieEchoBridge code and I think it has a similar approach and, correct me if I am wrong, this require a real Echo device connected to the local network.
So maybe the new HG UPnP emulation will already work with a real Echo/Home device.
If so I don't care about making it work with the Alexa app since this require the user to register or put everything in

[2019-01-06 00:50] tuicemen commented on #355
I do not have hubs, just a couple of Amazon Dots  and a Google Home mini  which are connected to my wifi.
the Alexa App needs to see the devices so the amazon devices can activate them.
I can turn on /off X10 lights in the Alexa App or  an Alexa Dot no extra skills required.
if your looking at turning HG into an Alexa or Google Home device its self then I misunderstood your thinking. and we'd need

[2019-01-06 01:06] tuicemen commented on #355
The devices showing up in the app lets you know if the Alexa devices can see them after initial discovery and connection the app will tell you if these devices are still on line if they're no seen as online Alexa devices can't control them.
I've not done to much in the way of HA with my Google mini though I did manage to get it working with one of my old PC programs using the Samsung  SmartThings

[2019-01-06 01:10] genemars commented on #355
@tuicemen I am just trying to follow same approach as HomegenieEchoBridge and HABridge (emulating UPnP devices like PhilipsHue bridge or Belkin WeMo devices).
How did you make alexa see your x10 devices? Is this still using HABridge?

[2019-01-06 01:59] tuicemen commented on #355
x10 control was done in HA-Bridge by pointing to the HG API for each device on/off/dim call.
Nothing needed to be done in the Alexa app HA-Bridge told Amazon the devices configured then once a command was given to the Alexa app it forwarded the info to HA-Bridge so it could then tell HG what device to turn on/off/dim

@mralapete  I believe the info is saved however when you open the device options

[2019-01-06 02:34] mralapete commented on #355
@tuicemen We’ve already done the HA Bridge thing in HG. The idea was to integrate the whole process into HG so HG users didn’t have to worry about installing a 3rd party software to achieve this.

Gene will need an Amazon Echo to test his concepts. He is trying to develop this concept in the dark.

I know why the settings are not being retained in the devices. We’ve come across this before. They n

[2019-01-06 14:02] mralapete commented on #355
@tuicemen while other HG users may not be commenting here they are following progress. I do understand exactly what Gene is trying to do. I'm also pointing out to him what progress had been made on this subject so he doesn't duplicate effort.

We need to keep the testing ordered as has been done in the past. It is then easier for others to follow what works and what doesn't so Gene can build on wh

[2019-01-06 14:51] mralapete commented on #355
@tuicemen best to keep this on topic,

integration of Alexa device control within HG without the need for an external server like HA Bridge. I'm sure Gene knows what approach to take with this and will do so in his own good time. The external HA Bridge approach has already been well documented and implemented and can be seen in the old homegenie forum.

[2019-01-07 15:53] tuicemen opened #356 "Broadlink RM Pro interface? (Feature Request)"
This little inexpensive IR/RF sending device has so many possibilities.
 One such advantage is being able to learn and send X10 Security codes. Support for this would also open HG control of Broadlink devices which are growing in number.

Since there are a number of free methods for capturing RF or IR codes with these HG would only need to be able to send the code simular to what other HA programs

[2019-01-07 21:15] tuicemen commented on #355
I decided to give this HomegenieEchoBridge another try, now that I have a little better understanding of how HG works and how to install interfaces and such.
It does work and with out the need for a real hue hub on the network, as I suspected.
 It does take a couple of HG service restarts (and maybe even a reboot) before it actually kicks in.
It detects all HG X10 and Zwave device modules (as well

[2019-01-07 22:08] mralapete commented on #355
@tuicemen so what procedure did you carry out to get this enhancement to work. I'm assuming that there is no 3rd party software or hardware involved here. Maybe you could outline exactly what you did for the benefit of other users.

[2019-01-07 23:16] mralapete commented on #355
@genemars just came across this GitHub using Fauxmo scripted in Python and proven to work with Alexa. When you get a moment coukd you have a look at it and see what you think. https://github.com/makermusings/fauxmo

[2019-01-07 23:36] tuicemen commented on #355
@mralapete this looks very simular to what  Gene is working on
https://hackaday.com/2015/07/16/how-to-make-amazon-echo-control-fake-wemo-devices/
However this is very old and much has changed with Amazon and Alexa since this article was published. The python script may have some usable info.

[2019-01-08 00:20] mralapete commented on #355
@tuicemen we just need to know how you got Alexa to discover your HG devices using Genes recent addition to v34. There's many hacked versions of a solution out there but no single one seems to work for everyone. You mentioned you needed to reboot or restart the service a number of times for this to happen and again I'm assuming you're just testing with HG and an Alexa.

[2019-01-08 01:44] tuicemen commented on #355
@mralapete please re read my reply to Gene. I didn't state I had Alexa working with Genes recent addition to v34.
I used the HomegenieEchoBridge interface to test his theory of it requiring an external Alexa hardware device (Hue Hub, I assume was his meaning).

However it does work on Genes recent build but also worked on the build prior.
I'm not convinced this is what Gene is looking for as it do

[2019-01-08 18:48] genemars commented on #355
It seems that the UPnP virtual devices (which emulates WeMo Switches) **will only work with 1st generation Alexa**. Also other approaches like Philips Hue Bridge emulations (eg. HomeGenieEchoBridge) will probably not work if Alexa 2nd generation is used.

They are purposedly forcing users to register with third party (vendors) service providers such as the WeMo website or the Philips Hue website.

[2019-01-08 19:19] tuicemen commented on #355
@genmars Actually all my amazon devices are second gen. Which explains the issue for me with the UPnP. However the HomeGenieEchoBridge as I stated can and does work in GH. I feel your right though the skill most likely would be the best approach and less or no hacking of existing code.

[2019-01-08 19:54] mralapete commented on #355
Yes the way SSDP is being handled by the 2nd generation of Echo seems to be the problem. I asked someone who owns a 1st generation Echo to run HG on a Pi to test your code. It looks like he succeeded but this will not be a solution going forward.

@genemars Still working on Fauxmo code as it seems there is a solution to the problem. I'll report back with results soon. Copy of GitHub issue and reso

[2019-01-08 19:58] mralapete commented on #355
@genemars in the meantime the HA Bridge server could be off loaded to a second Raspberry Pi for those looking for Alexa functionality working on that platform. Simplest and cheapest alternative all round.

[2019-01-08 20:06] mralapete commented on #355
@genemars there was mention of introducing Broadlink RM hardware into HG but you are aware of GDPR issues under EU law that have caused a malfunction. https://vn-my.com/watchvideo/how-broadlink-were-almost-ruined-eWMiShhQL5s.html

[2019-01-09 16:04] mralapete commented on #355
@tuicemen not really bothered now that Gene has opened up the UPnP library in HG. Loads of easier options available now. Glad you got sorted.

[2019-01-11 11:01] #353 closed

[2019-01-11 11:03] #331 closed

[2019-01-11 11:03] #332 closed

[2019-01-11 11:05] #305 closed

[2019-01-11 11:06] #281 closed

[2019-01-11 13:03] tuicemen opened #357 "Security system widget no longer displays recent activity"
Since the UPnP code add my security system stopped displaying security module activity. The security modules themselves do switch and display status correctly.

[2019-01-12 23:15] mralapete opened #358 "Blocky in HG-possible integration?"
For those without C# coding skills this could be a welcome integration into HG. https://github.com/gcandal/blockly-generator-csharp/

[2019-01-14 14:16] genemars commented on #357
Try restarting the alarm system program if it doesn't work try recompiling it.

[2019-01-17 14:21] tuicemen opened #359 "Enabling HG Password protection blocks some addons"
### Expected behavior
access to additional HG user created addons to perform with Password protection the same as with out

### Actual behavior
Enabling password protection stops some addons from working(EchoBridge, Generic IP camera)

### Steps to reproduce the problem starting from a fresh install

  1. enable Generic IP camera and set up camera info
  2. enable Echo Bridge and get Alexa to disc

[2019-01-18 03:31] mralapete commented on #359
Generic camera working fine here with HG user name and password. EchoBridge author would be the best person to take this matter up with. It's not been certified to run on this HG release. It was created around a fork of the HG project.

[2019-01-18 13:22] mralapete commented on #359
Works on all variants. Again a look at the logs at the point of program failure would give a better indication what's causing your issue. That program fails regularly owing to security cert issues. I'm sure if Gene sees your logs he could quickly identify your problem.

[2019-01-18 13:49] tuicemen commented on #359
OK, reloaded password and never lost the camera info this time around and Generic camera addon still works. :)
Not sure what caused the issue last time, maybe a corrupt update download or corrupt HG backup upload.

[2019-01-18 13:49] #359 closed

[2019-01-27 15:10] mralapete commented on #355
@genemars just to update on this thread. The HomeGenie EchoBridge is actually functioning correctly in your latest release v35 without the need for any 3rd party solutions like HA Bridge. It is discovering HG devices via Alexa and turning them on/off. You may want to include this in the stock HG install as HG doesn't restore user defined MIG programs which means every time you update and restore y

[2019-01-27 17:44] genemars commented on #355
HG restore functionality will restore MIG programs only if they are installed from the package repository (options->maintenance menu in HG UI).
Submit *HomeGenie EchoBrigdge" package by making a pull request here:
 https://github.com/genielabs/homegenie-packages
This way it can be installed from homegenie package manager and also restored correctly.

[2019-01-28 19:01] mralapete commented on #355
@genemars I don’t have write permission for that

[2019-01-31 20:35] tuicemen opened #360 "security system broken with stable 35"
With the current (35) release the security system requires being recompiled to work again.
I had figured this was just my system but it appears others are seeing this as well.
Also it again doesn't retain its Armed state if set to Armed Home or Away and a reboot occurs #331

[2019-02-01 05:03] ngineerken opened #361 "Homegenie service stops responding"
### Expected behavior
HomeGenie just runs

### Actual behavior
HomeGenie runs about 3 days before becoming unresponsive

### Steps to reproduce the problem starting from a fresh install

  1. Start the Pi
  2. Services are running
  3. After 3 days HG has stopped responding

### Specifications

  - Version: 1.2-stable.35
  - Operating System: Rasbian Stretch with all the latest updates & kernel to

[2019-02-01 17:35] tuicemen commented on #355
The latest update to 36 kept the HG echo bridge and I didn't need to re-install or re-enable. Nice!
However I have one issue which I'm not sure is HG or the interface or both.
If security is enabled on HG (passworded) the echo bridge stops working removing the password enables the echo bridge to work again

[2019-02-01 18:03] Bounz commented on #355
This is because HGEchoBridge communicates with HG via HTTP API and doesn't use Basic Auth.

[2019-02-01 19:22] tuicemen commented on #355
@Bounz  thanks, looks like another enhancement for the Echo Bridge is needed, or users to run two instances of HG one with Echo Bridge one with security enabled (if they wish remote access).

[2019-02-02 00:21] mralapete commented on #355
@tuicemen if you haven't already updated the HGEB might be worth doing. Looks like dimming issue has been resolved https://github.com/davidwallis3101/HomegenieEchoBridge

Not sure if Gene did the pull request himself. Might explain why HGEB remained after your update. The HGEB program certainly needs a bit of work but I did point out to you the HG is not the most secure application out there. Just

[2019-02-02 01:11] tuicemen commented on #355
@mralapete thanks, I did get notification of the update but not updated yet. I don't use dimming but always like to be running the newest versions

[2019-02-02 02:10] ngineerken commented on #361
I'm at Version: 1.2-stable.35
Setting a reboot cron job is not the answer to an issue that has arisen , it's only a band-aid to the bug.

[2019-02-02 04:34] tuicemen commented on #361
@ngineerken your original post stated you were at Version: 1.1-stable.527 and my work around was what I did for that version. I've not had that issue since moving to genes newer versions and moving to a newer Mono version. It's only a bug if others are seeing it, Gene put out version 1.2-stable 36 today so you might try that if you've not already.

[2019-02-02 05:50] tuicemen commented on #361
@mralapete, Band aid fixes (work arounds) are of value if they get ones system working until a permanent fix is found.
@ngineerken  besides the log file what does a "sudo systemctl status homegenie.service" report when this happens?

[2019-02-02 11:08] genemars commented on #355
@mralapete and @tuicemen you're talking about two different things:
- restoring a backup from a fresh install (that won't restore HGEB since it is not found in the homegenie-package-repository)
. upgrading HG to a new version from maintenance menu (that just updates new files without removing anything that is already in place: eg. a manual HGEB install)

@mralapete HG does implement SSL for emails

[2019-02-02 13:11] mralapete commented on #355
@genemars I'm certainly interested in learning a little more about HomeGenie Mini. Could you describe your concept in a little more detail. What market are you aiming this product at. What is driving your concept. Is it based around an ESP8266.

You refer to HG-plus and HG-server. Are these two different products.

I strongly suggest you re-establish a forum where HG users old and new can discuss

[2019-02-02 13:40] tuicemen commented on #355
@genemars  I also am interested in the HG-Mini which sounds like a CM19 on steroids.
To bad it didn't have X10 PLC or ability to plug in a USB device like the CM15 or a Zwave dongle.

Unlike @mralapete I don't believe you need to recreate a HG forum (you most likely don't have the files to resurrect the old forum anyways)just be more active on one discussing HG. @Bounz has the HomeGenie.Club where

[2019-02-02 14:04] tuicemen commented on #361
@mralapete  no I'm not missing the point. Originally @ngineerken posted they were running 1.1-stable.527 maybe that was a typo which they edited to fix after my first response.

Since Gene never posted what was fixed or added in v36 how can you be sure updating will not fix the issue. @ngineerken never posted HG was crashing just that the service was not responding. A log file may or may not revea

[2019-02-02 16:04] ngineerken commented on #361
I had logging on, now disabled. I also update to v36 and now lets see how things go.

Thanks for all the help

[2019-02-02 16:30] stang70man opened #362 "Home Genie Not Responding after updating to 1.2-stable31 and beyond"
### Expected behavior
Expect HomeGenie to respond properly to port 80 requests after updating

### Actual behavior
Page cannot be displayed on HomeGenie running on a Raspberry PI after update to 1.2-stable.31 and beyond. 1.2-stable.30 works fine after rolling back to that version.

### Steps to reproduce the problem starting from a fresh install

  1. Updated from 1.2-stable.19 to 1.2-stable36
  2

[2019-02-02 16:40] tuicemen commented on #362
I suspect your mono version maybe the issue but a log file should produce more info

[2019-02-02 16:49] tuicemen commented on #361
Did the logging show anything (errors)?

[2019-02-02 16:50] mralapete commented on #361
@tuicemen at the risk of repeating myself the logs will be helpful to determine what exactly is going on here. Unresponsive would indicate a crashed program. If you feel you can troubleshoot a system without them, particularly a server I will take my had off to you. Personally I prefer the log route rather than the crystal ball

I imagine Gene and others would agree with this conclusion too and re

[2019-02-02 17:07] tuicemen commented on #361
I'm not sure why you seem to always think I don't recommend logging! There is no use trying to debug a old version which I assumed @ngineerken was running from his original Post.
 I use to hate users posting bug reports for old versions of my software.
 Especially when I knew the issue wasn't present in the new version. That being said you'll notice I asked if  @ngineerken log showed anything!

[2019-02-02 18:38] tuicemen commented on #360
the issue is still present in 36

[2019-02-02 18:47] genemars commented on #355
@mralapete I don't have plan to open a new HG forum in the near future, but I will be looking at @Bounz and @tuicemen forums sometimes or maybe better I'll be there anytime you want me to partecipate to a particular topic.
So to clarify HomeGenie products line consists of:
- **HomeGenie Server**
is the smart home server for Windows/Linux/Mac
- **HomeGenie Mini**
is a miniaturized version of *HomeG

[2019-02-02 19:00] genemars commented on #360
@tuicemen I've tested this in Linux and it is working. Did you try on a fresh install?

[2019-02-02 19:10] tuicemen commented on #360
If the security is armed and a reboot occurs the security module reverts to disarmed. happens on all three Pis I run.
I've not tested on a fresh install only on a updated HG, will do that today.

[2019-02-02 19:45] genemars commented on #360
@tuicemen I think this has always been that way, but this can be a feature request opening a new issue.

[2019-02-02 19:52] tuicemen commented on #360
Ok I noticed a HG service restart also reverts the security to disarmed.
Writing a new image with HG now to test the recompile issue. However I suspect any new build will not display this issue with having to recompile the security module until a update is performed.
should I install 35 then update to 36 for the test?

[2019-02-02 19:58] tuicemen opened #363 "Security module feature request"
Currently the security module if Armed (away or home) and a reboot or service restart occurs the security module reverts to Disarmed. This renders any security options (macros) in HG useless.
HG needs to remember last state of the security display  for when these things occur.
see #331  for more info

[2019-02-02 20:01] mralapete commented on #355
@genemars as you know X10 has a very limited appeal theses days. Personally I just use it for light control. I’d focus more on Z Wave and some of the more modern protocols as they will have broader appeal.

I can already see an application it could be used for that our company is currently developing. Needless to say it won’t involve X10 from a commercial point of view.

You could pm me and I can

[2019-02-02 20:18] tuicemen commented on #355
There is the ability to use the serial connection for other devices however a USB connection would I suspect add more appeal. X10 appeal may be dropping off but it is still has a strong user base in North America.

[2019-02-02 20:58] genemars commented on #355
@mralapete and @tuicemen
as already stated before, HG Mini is meant to be a stand-alone device not a gateway.
HomeGenie Server can already do Z-Wave and X10 so there's really no need to "duplicate" HG server functionalitites into HG-Mini.
The fact that HG Mini has a 433MHz transceiver is because there are many smart home devices that operates on that RF range, so beside the already supported X10 R

[2019-02-02 22:03] tuicemen commented on #355
So is the RF software tunable like the Broadlink RM? That would be most useful.
I understand not wishing to add a USB port.

[2019-02-02 23:15] mralapete commented on #362
I don't recommend the latest Mono version with Raspbian Jessie. Might be worth taking a backup of your HG and doing a fresh installation of Raspbian Stretch. From there follow the instructions on the homegenie.it site. Once HG is installed you could restore your HG backup.

This method will give you Mono 4.6 which should resolve your problem.

Should you wish to install the latest version of Mono

[2019-02-03 17:06] genemars commented on #360
ok I will check this out 🙂

[2019-02-04 00:02] mralapete commented on #363
@LostDog88 it’s always advisable to recompile programs after an update to check consistency.

The problem you experienced is not related to the the feature requested here. This feature has never appeared in HG before. In fact I’ve never seen it requested before either.

[2019-02-05 20:12] #363 closed

[2019-02-05 20:54] tuicemen commented on #360
Version 37 appears to have fixed the security re configure issue. Thanks.
As well Thanks for adding the security system retaining its status on a service restart!

[2019-02-05 20:54] #360 closed

[2019-02-05 21:04] tuicemen commented on #362
@stang70man did updating your mono fix your issue?

[2019-02-05 22:11] stang70man commented on #362
Just completed the mono upgrade to the newest version for Raspbian Jessie and then upgraded to HomeGenie 1.2-stable.37 and all is well. HomeGenie newest version is working once again. Thank you to all who provided advice!

[2019-02-05 22:11] #362 closed

[2019-02-06 03:48] ngineerken commented on #361
Well turning logging off did not help.

pi@raspberrypi:~ $ sudo systemctl status homegenie.service
● homegenie.service - LSB: Run HomeGenie
   Loaded: loaded (/etc/init.d/homegenie; generated; vendor preset: enabled)
   Active: **active (exited)** since Sat 2019-02-02 12:21:02 CST; 3 days ago
     Docs: man:systemd-sysv-generator(8)
  Process: 5624 ExecStop=/etc/init.d/homegenie stop (code=exited,

[2019-02-06 10:55] mralapete commented on #361
Could you type mono —version at the terminal and paste the results here.

Have you sudo apt update and sudo apt upgrade recently. It may be worth doing to get the lastest version of your OS

Could you run HG in debug as follows

cd /usr/local/bin/homegenie
sudo mono HomeGenie.exe

and paste the results.

[2019-02-06 13:30] tuicemen commented on #361
Logging is helpful in situations like this it can point to the root cause of the issue. If you know what to look for.  This is why @mralapete & I asked what the logging showed and why @mralapete is asking you to run in debug mode and post the log.

Logging doesn't need to be running 24/7 unless your having problems. If the log file in HG shows nothing then a Debug logging using the command @mralap

[2019-02-06 15:01] tuicemen commented on #327
@genemars  I'm puzzled as to how and set these up in HomeGenie Plus clicking on the add/Belkin WeMo runs discovery but none of my wemo socket switches are found.
I see a WeMo program in the HG repository but I can't get it working either.

[2019-02-06 15:07] tuicemen commented on #355
@genemars  is there a place to post issues and enhancement request for the HomeGenie Plus?

[2019-02-06 19:05] genemars commented on #327
I think that they changed something in new Belkin WeMo. HG plus WeMo driver was tested against *fauxmo* and it still works with this.
Since I don't have a real Belkin WeMo I cannot fix/update the driver.

[2019-02-06 19:11] tuicemen commented on #327
@genemars thanks,
 I managed to get my wemo switches working with the WeMo program in the HG repository but it is only coded to do One switch. :(  I have to switch the setup info if I wish to change Wemo devices.

If that program in the repository were updated then the HG plus could control threw the HG server for devices it couldn't control natively.

[2019-02-06 19:12] genemars commented on #327
@tuicemen what WeMo program are you referring to?

[2019-02-06 19:15] genemars commented on #327
@tuicemen  ok... this one [WeMo Wi-Fi plug](https://github.com/genielabs/homegenie-packages/tree/f2d345e313777bcd4e1d52efca6274782749d475/packages/Devices%20and%20Things/WeMo%20Wi-Fi%20Plug) ... it was written by @noliono . Perhaps he has an updated version?

[2019-02-06 19:21] tuicemen commented on #327
yep that's the one.

[2019-02-06 19:23] genemars commented on #355
@tuicemen yes. Join the HG plus Beta program from Play Store.
[How To Become A Beta Tester For Google Play Applications](https://www.youtube.com/watch?v=J0rFw4gZjqw)
The you'll able to write feedback.

[2019-02-06 19:25] genemars commented on #327
@tuicemen you can still duplicate the program. Just export and import it again. You can create as many copies as you want and maybe you can arrange all of them in a new group "WeMo devices".

[2019-02-06 19:30] tuicemen commented on #327
yep been playing around in the code hoping to add more then one device but that maybe the way to go. At least for now.

[2019-02-06 19:32] genemars commented on #327
@tuicemen ok, let me know if this way works.

[2019-02-06 19:50] tuicemen commented on #355
Thanks doing it now!

[2019-02-06 19:59] noliono commented on #327
@tuicemen Do you use this code?
https://github.com/genielabs/homegenie-packages/tree/master/packages/Devices%20and%20Things/WeMo%20Wi-Fi%20Plug

In case "yes" , I write this code a long time ago and I plan to do a update to manager more than one, but I have forgot...
Perhaps, I will take a look this week, but perhaps copy it is better approach...

[2019-02-06 20:07] tuicemen commented on #327
thanks @noliono  that would be awesome.
I only have a couple of WeMo devices, One I had used for testing a few years back and a new mini, just thought I'd attempt to put them to use.

[2019-02-06 21:43] tuicemen commented on #327
Copy isn't the way to go  always turns on the first device.
The code has to be edited a great deal to get them working together but I'm getting close.
Think it would be best if code was just updated to add more then one. most users won't want to mess around like this.

[2019-02-06 23:15] tuicemen commented on #327
@noliono & @genemars  ok finally have two wemo devices working but it really is a hack job.
This required changing every where in the copy code that mentioned wemo to wemo2 for the second device. I sure wouldn't want to do that for any more devices.
@KrunchMuffin  most likely would have swollen fingers when they were done editing copies.

[2019-02-07 02:17] ngineerken commented on #361
pi@raspberrypi:~ $ mono --version
Mono JIT compiler version 4.6.2 (Debian 4.6.2.7+dfsg-1)
Copyright (C) 2002-2014 Novell, Inc, Xamarin Inc and Contributors. www.mono-project.com
	TLS:           normal
	SIGSEGV:       normal
	Notifications: epoll
	Architecture:  armel,vfp+hard
	Disabled:      none
	Misc:          softdebug
	LLVM:          supported, not enabled.
	GC:            sgen

pi@raspberrypi

[2019-02-07 17:35] tuicemen commented on #361
@ngineerken  do you have HG password protected? You really should get more info then that.

[2019-02-07 17:39] mralapete commented on #361
Those errors relate to the blacklisting of drivers which were conflicting with the X10 CM19 driver. Not sure those rmmod commands are required anymore.

I'm assuming you had logging enabled and examined the output in /usr/local/bin/homegenie/log/

To examine the last part of the log file before it hung just use the tail -n 20 homegenie.log and paste the results. This might catch the offending proc

[2019-02-07 18:51] mralapete commented on #347
Just tested the panel automation interfaces over the last couple of weeks in Vera, Home Assistant and Home Seer. Very versatile and an ideal panel to form the centrepiece of any HA system. It's a very popular panel in the US both domestic and commercial.

[2019-02-08 21:32] noliono commented on #327
@tuicemen can you test with this program update here please ?
https://github.com/noliono/homegenie-packages/blob/master/packages/Devices%20and%20Things/WeMo%20Wi-Fi%20Plug/wemo.hgx

It works on my side with only with one wemo but not the first wemo.
If it works for you too, i will "pull request" in @genemars homegenie-package

[2019-02-09 15:48] ngineerken commented on #361
pi@raspberrypi:~ $ cd /usr/local/bin/homegenie/log/
pi@raspberrypi:/usr/local/bin/homegenie/log $ tail -n 20 homegenie.log
2019-02-02 09:58:16.8539 Error HomeAutomation.HomeGenie.Automation	93	Method 'string.Split' not found.	Exception.StackTrace	  at HomeGenie.Automation.ProgramManager.RoutePropertyChangedEvent (System.Object eventData) [0x000c3] in <d65005afed7646669abaa4da7905999c>:0
 Trace Com

[2019-02-09 15:54] ngineerken commented on #361
If I have to split the weather station & Home Genie I might consider another Home Automation. But the ones that I have experience in the past were clunky as compared to HG.

[2019-02-09 16:11] genemars commented on #361
@ngineerken from your logs it seems you're running an old versiono of mono ad I see "Method 'string.Split' not found".
Mono 4.6.2 is recommended.

[2019-02-09 16:13] genemars commented on #361
@genemars ... ok just noticed from your previous message that you're already running mono 4.6.2. So this error is very odd.

[2019-02-09 16:15] genemars commented on #361
@ngineerken did you try also latest HomeGenie release?

[2019-02-09 16:26] ngineerken commented on #361
I have HomeGenie Version v1.2-stable.37 installed

[2019-02-11 15:20] pjanits opened #364 "Having x10 remote actually work for a while"
### Expected behavior
Homegenie works

### Actual behavior
Hi all,
After starting from scratch several times at one point I actually saw my x10 remote start the sc1200 alarm AND the hg 90 basic alarm. I saw the proper wording in the top right corner and the actions take place. Disarm also. The lights would also turn on and off from remote. Of course something went wrong ( memory space in /dev/root

[2019-02-12 11:28] mralapete commented on #364
Attach a copy of your current log to see if HG is functioning correctly.

Have you confirmed that your controller and your security panel is actually working correctly. The CM15a controller needs its memory cleared before it will function correctly with HG, Do you have any other X10 software you could use to confirm that you hardware is not faulty.

Have you any other X10 controllers and software

[2019-02-12 13:16] genemars commented on #364
mono --version
new hg requires mono version 4.6.2 or later

[2019-02-12 13:23] pjanits commented on #364
Mono JIT compiler version 5.4.0.201 

Pete
N9SWH General Class

    On Tuesday, February 12, 2019, 8:16:49 AM EST, Generoso Martello <notifications@github.com> wrote:

mono --version
new hg requires mono version 4.6.2 or later

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-02-12 13:42] genemars commented on #364
I'd suggest to try a standard raspbian stretch install without adding external mono repo.

[2019-02-12 17:31] pjanits commented on #364
Here's my setup:

x10 sc1200 alarm system. 9 years old. Currently has the internal time clock running fast. The power line part of signaling the lamp modules has failed and no longer sends signals ans of course the timers no longer work either. Not sure if it's the special power wall wart that died or something inside the sc1200 unit.
So it only sends and recieves rf signals from the sensors and r

[2019-02-12 18:17] pjanits commented on #364
When snooping in the widget for Homegenie/generic/securitysystem I see an error
TypeError: Cannot read property 'command' of undefined
Line 6963, Column 20    What ever that means.

[2019-02-12 18:40] tuicemen commented on #364
I believe you probably created a macro so that when your keyflob  arm signal was seen it armed away the security system and another for disarm.
I don't believe the HG security system(90) is watching any RF event by default.

[2019-02-12 18:42] genemars commented on #364
This is a well known issue with the SC1200 power adapter. The power adapter is not a simple power adapter but it also carry the duty of decoding/encding messages over the powerline.
I believe that the X10 functionality of the power adapter is broken.
Replacing it with a new one should solve this issue.

this is the expected behavior but you can create a simple wizard script that will arm/disarm HG

[2019-02-12 19:16] pjanits commented on #364
Thanks

[2019-02-12 19:25] pjanits commented on #364
Tuicemen ,

It sure is. I just added modules from x10 finding into the security group. No macros made. Everything just shows up.  In x10 modules they are prefaced by an S-00BXXXX . Just bring them into the security group and figure which is which and rename them.  The HA passes it over I guess.

[2019-02-12 23:46] tuicemen commented on #364
@pjanits so you created a security group and added the HG security system(90) then your security modules and everything works (keyflob ars/disarms the  HG security system(90)?
This without the scripts (macros) @genemars  posted?

I have all my security sensors, and remotes added to HG but these (remotes) did not control (arm/disarm) the HG security system only my X10 security console (DS7000). I h

[2019-02-13 01:21] mralapete commented on #364
As @genemars stated your power supply for the SC panel acts as a power line carrier adaptor and it does sound like it is failing.

Also I’d disable any other X10 controllers you have on the LAN so there’s no chance of X10 signal collision. You should clear the memory of the X10 controller you are using with HG too.

You’re HG setup is definitely transmitting the relevant X10 signals to your SC pan

[2019-02-13 02:08] pjanits commented on #364
Tuiceman
Correct except one time I reinstalled the system the remotes did work. Arm, disarm, and lights on off all activated the HG security system. That is what is driving me nuts. I saw it work, so why can't it always work?
I have read your posts regarding this and thought that was the way it was until I saw it work.. My x10 is the sc1200 so it's different from your I guess. But still. If all th

[2019-02-13 02:18] pjanits commented on #364
I ordered a new supply today. We'll see.The HG is NOT sending anything to the sc1200 it only reads the rf the SC panel is putting out. The fact that all the sensors are seen and acted upon in HG security tells me there is no interference at all. The remotes are seen and reported but not acted upon in HG. In other words it won't arm or disarm or activate the security lights in HG.
Pete
N9SWH Genera

[2019-02-13 02:30] mralapete commented on #364
Personally speaking I wouldn’t bother with an X10 security panel if I was serious about security. I’d opt for a professional security panel like the Ademco or the GE Concord 4.

They are much more secure and work very well with home automation.In fact there’s a program already written for the Ademco in HG.

[2019-02-13 12:27] tuicemen commented on #364
The Cm15a is known for poor (weak) RF transmissions and I had thought all X10 security consoles only recieved Rf and only send pl, maybe I'm wrong. HG sends pl unless specified to send RF.  There are so many things that can affect both signals. If you've not trouble shooted purchasing a new wallwart will not help however it does eliminate one possible cause of the console issue

[2019-02-13 13:34] pjanits commented on #364
Maybe I was hasty on that. THe sc1200 . send out a are you there sig to each sensor/switch about every 20 min. Maybe that is what the CM15a is picking up.  As my powerline part of the sc1200 is dead, it's not coming from there. The keychain is rf as you know and I'm not sure if it's getting picked up directly by HG ( my suspicion is it is )or being resentby the sc1200. Easy way test that is pull a

[2019-02-13 13:44] tuicemen commented on #364
I don't believe the SC1200 works as a RF repeater. Also even if your SC1200 pl was not dead there is no pl equivalent  for security signals.

Also a repeated RF signal should not affect HG. If your HG was not rebuilt from a working backup of when your system behaved, be sure you check use as security sensor under the security option of modules you wish to be seen by the HG security system.

[2019-02-13 15:40] pjanits commented on #364
So with the sc1200 disabled I still get signals from the sensors/switches. It seems they wake up every so often and check in. It would be nice to see battery level. Hmmmm I see a widget shows that but I'm not sure the sensor/switches can report it yet.
Anyhow the sc1200 doesn't repeat, you are correct about that.

[2019-02-13 16:50] tuicemen commented on #364
I've never been able to get the battery level to report correctly but I do know the x10 sensors report the status. I'm just not sure the x10 driver is coded for it @genemars may chime in on that.

[2019-02-13 18:17] pjanits commented on #364
The only failures or false triggers I have ever had was the battery in some sensor/switch died while I was out of town.

[2019-02-13 23:04] tuicemen commented on #364
I usually change my batteries twice a year at the off grid place but only once a year in the city.
The only false alarm I had was after initial install when the double sided sticky tape failed on a door sensor.
I didn't have cameras installed at that time, they would have saved me a two hour drive.

[2019-02-14 19:57] tuicemen opened #365 "Any x10 security key flob will change the configured flob in HG."
### Expected behavior
If a x10 security keyflob isn't configured in HG it shouldn't be able to change a configured ones state.

### Actual behavior
Any X10 security key flob I've tested will change the state of the one configured in HG even thought the RF signals are different.
This though minor (for me) is a security problem if the user is watching the status of the flob for something in HG.

###

[2019-02-14 20:51] genemars commented on #365
can you please provide log of raw rf messages from both keyfobs?

[2019-02-14 21:39] tuicemen commented on #365
Log file from inside HG frome today doesn't show Keyflob activity.
I'll do a sudo mono HomeGenie.exe and report back

[2019-02-14 22:26] tuicemen commented on #365
@genemars the first Keyflob seen (RawData 29 9B 94 06 F9 AF 00) is a arm & disarm from the none configured Flob.
As you see it doesn't arm or disarm the HG security the second one (RawData 29 D3 DC 86 79 F7 00) does. However both change the status of the keyflob configured in HG
[HgLog.txt](https://github.com/genielabs/HomeGenie/files/2866999/HgLog.txt)

[2019-02-14 23:04] tuicemen commented on #365
It should be noted my HG security arms and disarms as I'm watching for RF from the second Keyflob using a script. If my script watched the keyflob status instead then any ones key flob would arm my HG security.
Of coarse now to be truly secure with my HG security  I now need a third flob (or reset this one) and redo my script.

[2019-02-15 12:55] mralapete commented on #365
@genemars why are we even discussing X10 security panels and enhancements. @tuicemen has answered his own question in the post. These security panels are not secure.

I requested an enhancement for the GE Concord 4 range of security panels a while back. Maybe spending time on an assignment like that might make more practical and technical sense.

Over the last number of weeks I've finally migrated

[2019-02-15 13:40] tuicemen commented on #365
@mralapete,  These panels are secure! And what I'm asking and reporting is not a issue with the X10 security panels nor is it an enhancement request. This is a issue with HG seeing a remote (not setup in HG) but treating it like one already configured. The remote not configured does not trigger any thing (even my X10 security console) other then change the status of a configured HG remote (module)

[2019-02-15 14:40] mralapete commented on #365
Anyone being serious about security wouldn’t even be discussing these X10 security panels but if @genemars wants to indulge you by all means.

One of a number of reasons why many serious home automation users are moving away from HG.

[2019-02-15 14:42] tuicemen commented on #347
@mralapete,  I have to admit I know little about this panel and only started looking at info on it after your initial post.
I don't plan on adding this or any security panel to my city HA setup. However from what I've read you can use Zwave, UPB and other protocols with this panel. So as long as you had the Concord setup to use one of those that was also supported in HG you could use the existing

[2019-02-15 14:57] tuicemen commented on #365
@mralapete, OMG, **this issue is not about any particular Security Panel!**
Nor about @genemars indulging and playing favorites to anyone
I simply reported a issue with a module I encountered, **you** decided to make it about a particular brand of security console.
If the issue I reported is by HG design that is fine I'll close the issue, if it is unique to my HG setup I'll close the issue.

[2019-02-15 15:21] tuicemen commented on #347
I've been looking into these panels since @mralapete first posted the request of support.
Not because I plan to add one or any security console to my setups but just to be informed.
from what I can gather and maybe @mralapete can confirm this is you can make several protocols interface with this Zwave and UPB to name a couple.
If true you should already be able to get the HG security panel to show

[2019-02-15 18:21] tuicemen commented on #327
@noliono Sorry for the delay I just notice the post I must have missed the email notification I'll give it a try today

[2019-02-15 19:09] pjanits commented on #364
I received the new sc1200 power supply today and I am glad to announce you were all right. The sc1200 now has PL again! Thanks.

[2019-02-15 20:15] tuicemen commented on #327
@noliono I'm not having much luck. I can't get either of my two Wemo switches to work as yet.
I'll spend a bit more time on this maybe I missed something when creating the HGX file.

[2019-02-15 23:06] mralapete commented on #347
@tuicemen I have to admit I've no idea what you are talking about. Maybe you could enlighten me a little more and give me an example of what you are actually proposing.

I've written a Python wrapper for this panel in another HA software but was hoping Gene could include a C# interface for HG.

Are you familiar with the protocol for this panel. I had been discussing this with David Wallis on the H

[2019-02-15 23:18] mralapete commented on #347
@tuicemen not sure where you were doing your research but maybe a little look at this might give you a better idea of what I am trying to achieve via the D Bus API interfaced with HG https://github.com/darconeous/concordd

[2019-02-15 23:34] mralapete commented on #365
Not at all. I'll leave you to discuss the matter of X10 security panels with Gene. I'm sure others from your X10 Forum may want to join in and may find it quite informative too.

[2019-02-15 23:47] tuicemen commented on #347
There are a couple GitHub concord projects available which use the automation module besides the one you point to. I had read a thread on cocoontech.com/forums/ where they touched on using Zwave, X10 or UPB to interface with the panel. Since I don't own one and assumed you do that you would be more up on it.  I had thought one of these could be attached to the automation module.
I don't plan on do

[2019-02-16 00:04] tuicemen commented on #365
For the third time this is not a discussion of any security panel!
Forums are for discussions!
This GitHub section is for reporting issues one may discover with HG or requesting improvements.

If you @mralapete  feel this is an improvement request and not a bug fine. I don't be little or bash your improvement requests,  I expect the same from you!

[2019-02-16 00:21] mralapete commented on #365
@tuicemen I'll leave the last word with you so. As usual lol

[2019-02-16 00:27] mralapete commented on #347
@tuicemen I've been working on this panel for over 20 years. I've programmed the eeproms. I'm extremely familiar with the protocol. In fact I've converted them for use in the European market so I'm fairly familiar with all the working projects out there but thanks for pointing out these links anyway.

I strongly advise obtaining this panel or something similar to experience the true feeling of a p

[2019-02-16 00:41] tuicemen commented on #347
Thanks but If I ever need a professional grade security system I'll look for something much newer and certainly not a DIY project. Not that there is anything wrong with a DIY security project I'd just want something more plug and play if I were to go the professional grade security system. Right now my dog makes my feel safer then any security system.

[2019-02-16 01:19] mralapete commented on #347
As I said @tuicemen the last word. Good luck with that off grid X10 security premises you have protected. Hope you dog barks loud enough.

Maybe when you have something written you can call your own you could share it here or over on your X10 Forum.

[2019-02-16 12:59] #347 closed

[2019-02-16 13:00] #358 closed

[2019-02-16 14:14] pjanits commented on #364
Also the clock is running right on the button. This makes me think maybe some internal interference in the power supply may have been killing the PL signals. I will open it up someday soon and look for bad capacitor.

[2019-02-16 14:23] tuicemen commented on #364
Nice to see your sc1200 is now back up and running as it should.
Now you just need to get HG talking to it. ;) unless you've figured that process out.

[2019-02-16 18:19] pjanits commented on #365
Just to be clear you can arm and disarm only by using the script. But the script sees both remote equally?

[2019-02-16 18:58] tuicemen commented on #365
I can arm/disarm the **HG security system Program** with a script triggered by a x10 security flob arm/disarm signal (I use the RF code signal not the status signal ) HomeGenie sees both security flobs As it should However since I only have one configured the flob module status changes with either flobs button presses. My Script only sees the flob I have configured.
 This origially made me thing t

[2019-02-16 19:19] tuicemen commented on #365
@genemars Just out of curiosity I tested these remotes on another HG server with the same results.
Also HG will not allow me to add the other key flob as it thinks it is already installed.
My DS7000 sees will register each flob.
I'm now just wondering if anyone is able to add a second security keyflob (KR10A) to HG?

[2019-02-16 19:28] pjanits commented on #365
I can only add 1 KR32 to HG. I have not tried the scripts yet.

[2019-02-16 19:32] tuicemen commented on #365
@pjanits Thanks at least that confirms one of the issues.
When you press the arm button of the flob that isn't configured does the status of the one configured change to armed?

[2019-02-16 19:38] pjanits commented on #365
No neither one changes to armed in HG. I am not running the scripts yet.
I am still trying to figure out where the next step is in the program after it sees a remote.

[2019-02-16 19:40] tuicemen commented on #365
I don't mean the HG security system I mean you configured KR32 module

[2019-02-16 19:46] tuicemen commented on #365
<img width="202" alt="keyflob" src="https://user-images.githubusercontent.com/25393840/52904372-70c3ab00-31f9-11e9-9dac-c39abc082421.png">
This is what changes regardless of the flob I use.

[2019-02-16 21:14] pjanits commented on #365
Yes

[2019-02-16 23:47] tuicemen commented on #364
@pjanits  are your door/window sensors updating their status in the HG Security System history screen? Are all sensors and your key flob modules in HG displaying correct status when activated?

[2019-02-17 01:07] kaykingtoo commented on #356
GRAND REQUEST!  Thank you!  We too use HG with broadlink RM pro thru HAbridge to have HG transmit security codes.    Believing in KISS, elminating the habridge program with a native built in Hue type module in HG would be great.

[2019-02-17 11:44] pjanits commented on #364
Yes
Pete
N9SWH General Class

    On Saturday, February 16, 2019, 6:47:34 PM EST, Tuicemen <notifications@github.com> wrote:

@pjanits are your door/window sensors updating their status in the HG Security System history screen? Are all sensors and your key flob modules in HG displaying correct status when activated?

—
You are receiving this because you were mentioned.
Reply to this email directly

[2019-02-17 12:08] tuicemen commented on #364
Ok so All you need to do is download the zip file @genemars  posted and unzip it.
then go into the HG web UI and click configure/programs/security on the bottom right click actions then import program and browse to the unzipped folder and add the Arm away and Disarm files.
I suggest you edit them so a RF code signal switches the security instead of the reported RF state.

If you have a problem let

[2019-02-17 13:22] pjanits commented on #365
I wonder if it relates to what the type is for a remote. HG defaults to sensor, but really isn't nor does it act like a sensor. None of the other choices really fit the remote.

[2019-02-17 13:47] tuicemen commented on #365
It realy doesnt make sense to create a separate type for the Key flobs most users only use one or maybe two.  Since HG realy does nothing with the RF signal other the change the state (unless you create a script) it kind of make sense to add as a sensor. However ever door/widow sensor is added separately and my front door sensor trip doesn't change the state of my back door sensor.

[2019-02-22 16:50] tuicemen commented on #327
@noliono  I finaly got this to work (think it was my copy of the HGX file getting corrupt)
My wemo devices all work however like you the first WeMo device isn't controllable.
I'll play a bit to see if I can find the issue

[2019-02-22 19:23] tuicemen commented on #327
@noliono I now have this working even the first wemo device.
I'm not sure is me fixing the errors about InputDevice being obsolete and changing  "InputDevice" to "Option" had any thing to do with it or I just had a typo in my original setting.

Compiling still throws errors about Raise events which I'm not sure how to fix but the code works.
Thanks for taking the time to add the extra modules it s

[2019-02-23 13:04] noliono commented on #327
@tuicemen Did you mean "InputField" instead "InputDevice" ? Because i don't find "InputDevice" in my code. I don't have any errors on compiling but I didn't use a recent version of Homegenie (1.1 beta r525) ...
Can you give me your change on my code please ? I will correct mime and pull it to the official package.

[2019-02-23 14:27] tuicemen commented on #327
@noliono Yes sorry,
 In your startup code you have `Program.AddInputfield…..`
I changed each  to read:
[code]
in your Program code the lines that have `Program.InputField(…...`
I changed to `Program.Option(….`
This may be unrelated to my devices working when configured to device 1 but it does eliminate some Warnings.

[2019-02-23 15:56] noliono commented on #327
ok thanks

[2019-02-24 13:23] tuicemen commented on #327
@noliono I was watching the HG notifications for WeMo devices and notice it was displaying a status level off 100 when the device was turned on not 1.00  checking the code I seen a couple of places 100 is used instead of 1.00. Since many programs watch for status of a decimal value I thought this may be a issue but wasn't sure if the value 100 was required for WeMo. As a test I switched both lines

[2019-02-24 13:36] tuicemen commented on #327
@noliono One more thing is it possible for when your program does a status request that it sends a Off instead of On?
Currently the On status request is seen by HG and triggers anything watching for the On status.

[2019-02-24 20:31] noliono commented on #327
Not sure to understand your meaning ...

On line 135 and 203, i don't have a "100". The only line with "100" is :
_Program.RaiseEvent(virtualMod,"Status.Level","100","WeMo");_

I don't think so. But between each refresh (60 seconds on my side), this program wouldn't "see" the state of wemo change by a wemo program or by pressing the button on wemo plug.

weird ... With my original program or with

[2019-02-24 21:37] tuicemen commented on #327
@noliono  If I use your 100 value any thing that watches for a status of Greater then 1 will trigger and if I change it to 1.00 those scripts still get triggered. I'll experiment a bit here, however I believe you can do a  "pull request" in @genemars homegenie-package.

[2019-02-24 22:04] tuicemen commented on #327
@noliono I may have found how to stop the WeMo from being seen as on from it's status request but I need to do a bit more testing to be sure. Currently I have the request not blinking the wemo on indicator which before was happening triggering things.

[2019-02-24 22:30] tuicemen commented on #327
Well that didn't work :(
I'm not sure why it took so long to start activating the script watching for the greater then 1 value?.

[2019-02-25 22:00] genemars commented on #327
Hi @noliono  I've modernized the code from your pull request in order to use latest HG API.

[1013-WeMo.zip](https://github.com/genielabs/HomeGenie/files/2902791/1013-WeMo.zip)

[2019-02-26 04:03] noliono commented on #327
Hi @genemars, ok thanks ! Did you have any advise to update from my old 1.1 beta r525 to the latest version of HomeGenie ?
@tuicemen Can you test this version please ?

[2019-02-26 11:26] genemars commented on #327
@tuicemen and @noliono I have further revisited the WeMo app code.
Now in the program options you only specify the number of WeMos you want to control.
The IP address and the "security alarm on/off status sync" can be set from the module options.
@nolio if this is working can you upadte your pull request with this code?

[1000-WeMo (3).zip](https://github.com/genielabs/HomeGenie/files/2905178/1000

[2019-02-26 11:27] tuicemen commented on #327
@noliono I have tested @genemars zip file and it has no warnings and all Wemos will turn on and off.
However it still causes the wemos setup in HG to display briefly as on with a status update. this prevents the use of any conditions being added to them.
this occurs every sysnc time specified.

[2019-02-26 11:31] genemars commented on #327
@tuicemen please test the new one!!! see the message above.
@noliono  I was thinking that perhaps I could include this app in HG default installation, so no need to add it to the repository. Is that ok?

[2019-02-26 11:33] tuicemen commented on #327
@genemars  just noticed your newest version so will give it a go but I suspect the same issue.
this is what causes the wemo in HG to blink on, the actual switch doesn't turn on.
if (result2.Contains("1" ) {
	if (virtualMod.IsOff) {
     Program.RaiseEvent(virtualMod,"Status.Level","1.00","WeMo");``

I have experimented so the code watches for the off state first which prevents the Wemo from displa

[2019-02-26 11:44] genemars commented on #327
@tuicemen the new code is completely different and it might work.

[2019-02-26 12:12] tuicemen commented on #327
OK loaded two test modules and I can turn them on and off with HG , however if turned on locally their status doesn't get updated in HG as they did prior.
Good thing is the module also doesn't blink on when the status is checked.

[2019-02-26 12:18] genemars commented on #327
@tuicemen I might have spotted the issue, try again with this.

[1000-WeMo (4).zip](https://github.com/genielabs/HomeGenie/files/2905340/1000-WeMo.4.zip)

[2019-02-26 12:37] genemars commented on #327
I eventually added some visual feedback that might help understanding where the issue is.

[1000-WeMo (8).zip](https://github.com/genielabs/HomeGenie/files/2905414/1000-WeMo.8.zip)

[2019-02-26 12:46] tuicemen commented on #327
ok now with a status update the module in HG switches on triggering any Automation configured to it and stays on however the actual switch remains off.
I have to go out for A while so may not be able to do any more testing today

[2019-02-26 13:34] genemars commented on #327
@tuicemen ok no problem. I do not always understand your english and I've always wondered what is your mother tongue?
So, do you mean the switch does not respond to commands from HG? Has the actual switch ever turned on/off with any previous version of the script? If so, which one?
I am confused =D

[2019-02-26 16:44] yorlik-too commented on #365
Just as another confirmation, I just added a kr10 keyfob, verified it changes from disarm to armaway, then grabbed a second keyfob and tried it:  it too triggered the module in HG.  I verified it reports a different rf number too.  I do have both of these keyfobs programmed into SC1200 and a DS7000 1 mile away at another location.  I actually arm/disarm SC1200 security unit via HG with a SH624 sec

[2019-02-26 19:43] noliono commented on #327
Ok good idea !

Your "1000-WeMo (8).zip" doesn't work on my old r525 (no "startup code") probably because some function doesn't exist in this old version ....

[2019-02-26 19:49] genemars commented on #327
@noliono you can try updating to latest HG.
First backup everything, also backup HG configuration from maintenance page.
Update your Raspberry with latest Raspbian stretch distro.
Install the new HG as usual:
[code]
restore your configuration.

[2019-02-27 13:55] tuicemen commented on #327
@genemars  sorry for the confusion mother toung is English Canadian but I usualy post in the morning and I'm probably not fully awake. HG does turn wemos modules on and off when you click on the icon in HG.
the problem is with the status updates

[2019-02-27 20:30] noliono commented on #327
@genemars  i succeed to update my homegenie version to 1.2-stable.38 !

The following command line (79) in `pollWemoStatus` function is often launch because the `if` and `elseif`are right only in case of the wemo status is not the same between the poll and the module in homegenie.

Did my `try catch doesn't work ?

[2019-02-27 20:55] tuicemen commented on #327
I get this error too if  a WeMo device is turned on.
@noliono if your devices are all off when a status is done do any of your Wemo modules in HG report as being on? mine alternate with each status update

[2019-03-05 13:28] tuicemen opened #366 "Unable to add additional security key flobs"
**_This issue is not a security related one even though related to_ #365**
I'd love to add a second or third x10 security flob to HG. However that currently isn't possible even though HG sees its code. If a security key flob is already configured HG sees the second or third as the one configured even though the RF security codes that HG sees are different.
These are security devices but I use a lo

[2019-03-06 20:38] yorlik-too opened #367 "Cannot seem to change 142 Email Account program options"
### Expected behavior
Configuration->settings->email account, click on Options icon, change settings, exit or restart

The changes expected to take place

### Actual behavior
- Options page values DO change, DO stay IIRC even thru pi reboot.
- Account log of attempted send clearly shows an old options set of parameters that never change

### Steps to reproduce the problem starting from a fresh ins

[2019-03-06 21:38] tuicemen commented on #367
From a fresh install of HG on a fresh Pi Image, if you set the info to gmail account, port 587, SSL false do those setting stick!

I don't use Gmail but port 587 and SSL true

[2019-03-07 00:28] yorlik-too commented on #367
Tuicemen, if I cannot figure out what file stores the non changing data then I will have to start new again and see.

I THINK it was 587 & no SSL that finally worked - until I rebooted. it may have been 587 with SSL. After 200 tests I don't recall exact settings on port/ssl. I do not look forward to writing new SD cards 200 more times to experimentally find a set of parameters that work. (:

From:

[2019-03-07 13:04] tuicemen commented on #367
When you removed the email program from HG did you go to maintenace remove modules and remove the email program from there as well?
If not when you reinstall it HG sees the old settings and pulls those in.
One other thing you can try is resetting GH to factory settings. Then enter your email settings.

[2019-03-07 13:54] yorlik-too commented on #367
Great ideas!  I will try them today when I get a chance

[2019-03-07 16:08] bkenobi commented on #367
Just a general comment and not a diagnostic in any way.  Programs have different ID's on different systems depending on what order things get installed.  When referring to a program that others are being asked to help with, it would be helpful to provide the name of the program (and even a link to it if it's not a standard install) and not the ID number.

[2019-03-07 20:21] yorlik-too commented on #367
Did config->maint->config&data-> Factory Reset.

That did NOT delete any programs (my test email program for instance).  It may have deleted the data in options under settings page but I have had too many other distractions to be sure.  I did put in a different email set of data (gmx.com instead of gmail.com) and tried it:  log shows SAME gmail account data as before.

I do not know why I cannot c

[2019-03-07 20:23] yorlik-too commented on #367
bkenobi thanks for heads up.  I have found that any IMPORTED programs get loaded with sequential pid no. beginning with 1000.  It appears we are not allowed to enter any pid no. less than 1000.  I have tried to list the .hgx complete name when referring to programs.

[2019-03-07 20:52] mralapete commented on #367
My suggestion at this stage is

1. A fresh install of Raspbian Lite
2. Update and upgrade Raspbian
3. Install Mono 5.4 from the Mono project
4. Install HG from official sources ie HG Bounz edition or homegenie.it

Once you have completed this go straight to your Email Account program and use the following settings settings and ensure they take

Email Account program in homegenie settings:
1. E-Mai

[2019-03-08 21:38] tuicemen opened #368 "Generic IP Camera program settings lost on upgrade to 1.2-stable-39"
This is not much of a big deal as HG does warn to make a backup prior to updating.
However figured I would report this just in case anyways.
On updating to 1.2-stable 39 the Generic IP Camera program losses all settings and even gets disabled.
Re-entering the info doesn't take until a web page refresh (also not a big deal)  As well the Philips hue program gets re-enabled if disabled prior to the u

[2019-03-08 23:04] #368 closed

[2019-03-08 23:53] mralapete opened #369 "Once again a new release without release notes"
It really would help users if you posted release notes advising what changes are being made and what if any of these changes would be termed as breaking changes. You seemed to have dispensed with this practice a while back.

I just noticed someone posting a breaking change with IP cameras but the post was closed for some reason without any reason why this happened

Might be worth looking at Home A

[2019-03-09 07:51] genemars commented on #369
@mralapete if you see the commit logs you'll notice that everything IS commented.
The whole build process has been automated but yet the description of the release has not been automated.
I just manually edited the release description with things changed, maybe this made you happy now.
I strongly encourage you to switch to any other software especially because they don't have PASSIVE users but the

[2019-03-09 12:24] tuicemen commented on #327
@genemars  I believe I have my wemos working properly by slightly modifying your womo4 test.
This still uses @ noliono catch code but checks if the wemo is off before checking if it is on.
 This has run flawless for me now for a week. I'm not sure why checking if the module is off first stops HG from triggering an event attached to the widget but it does for me.
Perhaps the last WeMo test build @g

[2019-03-09 13:43] tuicemen commented on #369
I find very few users actually bother to post issues or suggestions here on GitHub for any software :( .
Instead they turn to forums for help.
Myself, having coded and publicly releasing free software as @genemars  does, I know all releases don't require a release description each and every time. Most times I updated my programs were from bugs or issues no one reported and only I noticed.
I for on

[2019-03-09 15:42] mralapete commented on #369
@genemars the reason why you are the only developer on this project is that you walked away from the project two years ago stating that HG was a completed project and closed down the original HG forum.

Many users and experienced coders made numerous useful contributions to your project, some which are still in daily use. These people offered on many occasions to take over the running of that foru

[2019-03-09 20:33] noliono commented on #369
I spend some times some years ago (start in 2013) with the HomeGenie in beta version. Now HomeGenie is working fine :
- with all my devices
- No bug and no need to reboot
- No SD/MicroSD crash (Other system like jeedom crash SD/MicroSD probably due to too much write on it)
- Can be customize easily with program/script

But i didn't say that there is no need to enhanced. But today, my system (HG an

[2019-03-09 20:43] noliono commented on #327
I have only one wemo plug on my side

[2019-03-09 20:48] tuicemen commented on #327
@noliono ok thanks.
I was seeing that behaviour on two different RPIs
I'm currently playing with @genemars last test build and have it behaving for me (So far with a few edits). I'll post @genemars last build with my edits once I'm sure I get no false triggers with it.

[2019-03-10 12:27] tuicemen commented on #327
It would be nice to hear from @KrunchMuffin or other users with WeMo devices.
I only have two devices and these are just outlets.
I've got my issues worked out with the use of two devices and emailing status of these as well as triggering other events based on their status. However I wonder if that will extend to more wemo devices.

[2019-03-10 13:43] KrunchMuffin commented on #327
Never ended up using it

On Sun, Mar 10, 2019, 8:27 AM Tuicemen <notifications@github.com> wrote:

[2019-03-10 13:48] tuicemen commented on #327
@KrunchMuffin Ok thanks for chiming in!
I had hoped you had HG running for other things maybe.

[2019-03-10 15:40] yorlik-too commented on #367
Gene,  since I seem to only get one chance to enter email account information, and for some reason my normal settings as used in my working thunderbird programs do not work,  could you please tell me which file holds that email account data?  With that, I could modify it directly instead of using the Optons button, which does not work for either of my HG setups.  Thank you.

[2019-03-10 15:42] yorlik-too commented on #367
Short of knowing the file name holding the email account info, if you make the factory reset routine also delete that information I could try different account infos by doing a reset.  As of now, a factory reset on my HG does NOT clear that info.  Thank you.

[2019-03-10 19:37] #369 closed

[2019-03-11 15:22] bkenobi commented on #369
I looked at the HG code years ago when I got started.  I'm not a C# programmer by education and it took a fair bit of effort to learn enough to build the apps I did.  I personally would have been a detractor if I attempted to fork anything though I considered a couple modifications to the X10 system.  Instead, I worked on things I felt capable of finishing.  They were solid enough that I released

[2019-03-12 15:48] yorlik-too commented on #367
This thread can be closed with success!  I found the file holding the email account data (systemconfig.xml) in base64 code.  I compared the strings to my working test pi, found them different, copied them into my non working HG folder - and still did not have email success, even after restarts and reboots.  But after upgrade from stable.37 to stable.39 FIXED it!  Email working!

[2019-03-12 15:48] #367 closed

[2019-03-13 13:33] tuicemen opened #370 "New Open weather Questions"
@genemars with the introduction of Open Weather as the default weather app replacing weather underground I'm noticing some strange reporting in the widget.
This leads me to think I'm missing something in the setup, so maybe you could explain how to set it up.
The temperature and weather conditions seem right but my sunset and sun rise are way off as is the time of day reported at the bottom of the

[2019-03-13 16:49] tuicemen commented on #370
I've been playing with this and see the time and date displaying is not the actual time of day but time of last update. However this is completely wrong as it always says about 4 hours into the future as the last update time.
Also the sunrise sunset is off by 4 hours so the two are somehow related it appears (maybe with the same base time).
I thought setting the time and sunset/rise to the correct

[2019-03-14 14:54] Nosreme1 opened #372 "add a clock widget"
First, I thank the entire team for this wonderful project.
I wanted to know how I could add a clock widget in a dashboard please.
Is it possible to do that?
Thank you for your answers.

[2019-03-14 14:58] noliono commented on #370
@tuicemen Can you try this adaptation in program the program ?
https://github.com/genielabs/HomeGenie/compare/master...noliono:master

[2019-03-14 15:21] tuicemen commented on #372
It is totally Doable there is even a widget for it that was created by one of HG users @jshan.
I don't believe it made it into the HG Package manager but you can get it from the old HG (read only)forum: http://old.homegenie.club:8080/www.homegenie.it/forum/index27c5.html?topic=1024.msg6255#msg6255

[2019-03-14 15:22] tuicemen commented on #370
I'm not sure how to do that.
I'm relatively new to HG and GitHub.

[2019-03-14 15:34] noliono commented on #370
Ok i will send you the hgx tonight :)
(I suppose the problem is link to time zone, not sure ...)

[2019-03-14 15:46] Nosreme1 commented on #372
@tuicemen thank for your answer. I downloaded " 1006-ShowDateTime.hgx" file, how could I upload it into Homegenie and use it in my dashboards?
Thanks

[2019-03-14 16:13] tuicemen commented on #370
Thanks.
I believe part of the issue may be time zone but  also Latitude as it displays sun rise here at 11:15 and sun set as 23:20. I'm not in the Artic

[2019-03-14 16:19] tuicemen commented on #372
@Nosreme1 from HG "configure/programs/device and things" click on the actions tab (bottom right) click import program then browse to your downloaded  1006-ShowDateTime.hgx file and import.
Since I don't use this I'm not sure if this is the group that it is meant for so if it doesn't appear after the import you may have to search the other groups for it. when you find it, it will need to be enabled

[2019-03-14 16:34] Nosreme1 commented on #372
It works
Thanks

[2019-03-14 16:36] tuicemen commented on #370
@noliono I believe the latitude longitude may be coded in reverse.
this would put me in a incorrect time zone and also cause my sunset/rise to be the values they are.
I just tested looking up my latitude longitude in reverse and that seems to  confirm my theory as it put me in the Antarctic. where day light time would be close to what the OpenWeather widget is showing.

[2019-03-14 16:46] tuicemen commented on #372
@Nosreme1  Glad to see you have it working . maybe you can close your issue? =)

[2019-03-14 18:24] tuicemen commented on #361
@ngineerken are you still experiencing this?

[2019-03-14 19:37] noliono commented on #370
[34-OpenWeatherMap.zip](https://github.com/genielabs/HomeGenie/files/2968168/34-OpenWeatherMap.zip)
@tuicemen Are sure you use the openweathermap program (ID 34) ?
Because the program didn't permit to add "lat" and "long" ...
Like : api.openweathermap.org/data/2.5/weather?lat=35&lon=139
Or How did you do ?

[2019-03-14 19:46] tuicemen commented on #370
I never changed the lat/ long in the program I used a web browser search and reversed my lat/long info.
That put my location in a different location and time zone which explains why sunset/rise is off so much as well why my last update time is in the future.
the api states you can use lat long for your city but if I do that I get a can't locate data error which makes sense as there are no cities i

[2019-03-14 21:34] tuicemen commented on #370
@noliono your modification to the Open weather Program does seem to fix the reported sunrise/set times as well as the last update time. I would have bet money on the lat/long being reversed some how.
Good Catch!!

[2019-03-15 00:23] ngineerken commented on #361
Yes it is till happening and even more frequent like ever 2 days now and it is with HG 1.2.stable 39

[2019-03-15 00:42] tuicemen commented on #361
Does  weewx also stop?
Have you tried running just HG or  weewx on the pi  and the other on another machine (pi)?

[2019-03-15 00:54] ngineerken commented on #361
Weewx does not stop. I have not had a chance to try another pi at this time.  I may try it this weekend, just running from an SD card.

[2019-03-15 13:34] #372 closed

[2019-03-15 21:11] noliono commented on #327
@tuicemen You seems to use my program version. @genemars write a best version. Can you try this new version ?
[1014-WeMo.zip](https://github.com/genielabs/HomeGenie/files/2972906/1014-WeMo.zip)
i only adapt @genemars version to :
- Suppress wrong error message link to else
- Suppress line with "Program.Title" because error in program compilation on my side in v1.2-stable.39

[2019-03-17 11:30] genemars commented on #366
can you tell which part of the raw RF message can be interpreted as the address of the remote?

[2019-03-17 13:53] genemars commented on #361
Hi @ngineerken can you try disabling the "Devices & Things" -> "UPnP Emulation" program?

[2019-03-18 02:19] ngineerken opened #373 "HomeGenie Version v1.3-beta.1 is offering to install mutilple times, Looping"
### Expected behavior
HomeGenie Version v1.3-beta.1 installs

### Actual behavior
HomeGenie Version v1.3-beta.1 is looping on the install

### Steps to reproduce the problem starting from a fresh install

  1. Have HG 1.2.stable 39 installed
  2. Update to HG  v1.3-beta.1
  3. you are offered to upgrade again

### Specifications

  - Version:  v1.3-beta.1
  - Operating System: fresh Rasbian Stretc

[2019-03-18 02:21] ngineerken commented on #361
Started the SD card on a new Raspberry pi 3B+
now i have the Beta offering multiple installs
https://github.com/genielabs/HomeGenie/issues/373

[2019-03-19 18:21] tuicemen commented on #366
since HG sees each Security key flob I have as a security key flob there must be part of the raw RF message.
I just got back to town so I'll play around a bit this evening with the RFs.

[2019-03-19 18:26] tuicemen commented on #327
@noliono I just got back from a vacation so I'll test your version tonight.
I also have been running a modified version of Genies last build so I'll compare the two.
I also suppressed the things you did but I also had to reverse the order for ON and Off status for my modules so a brief On wasn't seen. That would trigger any events I had watching for an On status even though the module was actually

[2019-03-19 18:38] #373 closed

[2019-03-19 18:40] #355 closed

[2019-03-19 18:41] genemars commented on #327
@tuicemen @noliono let me know when the script is working so I can include it in next HG release.

[2019-03-19 20:21] tuicemen commented on #366
I don't see any thing in the raw RF message that is unique to a key flob all my security modules Raw RF start with 29 and end with 00 the other bits are different.

[2019-03-20 01:24] ngineerken commented on #373
Verified fixed with v1.3 beta 2

[2019-03-20 01:26] #370 closed

[2019-03-20 01:57] tuicemen commented on #327
@noliono
I'm testing your version now, it works with one WeMo however if I add a second I get false ON events.
Playing with the order of code for the status update seems to resolve my issues just as it did for @genemars last build.
However I don't want to jump the gun saying everything is 100% working till I've fully tested this.
Seems devices don't update if the status is changed for the Wemo loc

[2019-03-20 12:45] tuicemen commented on #327
@noliono can you test this with your system?
[1015-WeMo.zip](https://github.com/genielabs/HomeGenie/files/2988108/1015-WeMo.zip)
I had to change the order things were carried out as well I had to separate the responce2 from the Module.IsOn/Off  using the && made my setup misbehave.
I have this working reliably (so far) on two RPi Zero W boards with HG  v1.3-beta.2

[2019-03-20 18:20] genemars commented on #366
I thought that only the last two bytes would change using different security remotes.
If you press ARM on one remote and the the other one the first 4 or 5 bytes should be the same.

[2019-03-20 22:05] tuicemen commented on #366
Here are the Raw Arm codes from two different  (KR10A) Security Key flobs
29 9B 95 06 F9 AF 00
29 D3 DC 06 F9 F7 00
So it appears there are some similarities  for the Raw ARM codes maybe I was comparing arm to disarm ?
Raw Disarm codes from the same two (KR10A) Security Key flobs are:
29 9B 94 86 79 AF 00
29 D3 DC 86 79 F7 00

[2019-03-25 20:02] noliono opened #374 "Abnormal CPU usage"
### Expected behavior

No abnormal CPU usage.

### Actual behavior

Since my update to the last version of HomeGenie, HomeGenie need to be reboot because full use of 2 or 3 core CPU :
![Capture d’écran de 2019-03-25 20-53-27](https://user-images.githubusercontent.com/10108085/54949843-3f4ca680-4f40-11e9-85a5-5e931b0dc73d.png)

Did some one have the same problem ?

### Steps to reproduce the proble

[2019-03-25 20:07] noliono commented on #327
I try to use your program but my HomeGenie have an abnormal CPU usage (describe here : #374) and i test to disable it to solve my issue. But that didn't solve my issue and so i think the lag for switch on/off is due to my CPU usage ...
In brief, i can't be sure 100% your program work fine ... :/

[2019-03-25 20:34] tuicemen commented on #327
@noliono I had to revert to version 1.2-Stable.39 with one of my RPI as I lost control of many other things. Maybe it was the issue your seeing.
The other Pi with 1.3-bata.3 runs fine for me thus far though I don't have the same things configured on it.
The modified WeMo program I posted continues to work reliably for me from both RPIs

[2019-03-25 22:46] tuicemen opened #375 "Can't relocate module locations in groups ver1.3-beta.2"
I've lost the ability to relocate modules and separators for new additions actually any (new or old)
I can drag the module or separator to a new location in the group I create it in but it returns to its last spot.
This is in a upgraded HG from 1.2-stable.39.

[2019-03-26 14:51] LostDog88 opened #376 "OpenWeather in Metric only Except Temp"
### Expected behavior
Report wind in Imperial measurement not metric.

### Actual behavior
Unable to change setting.

### Steps to reproduce the problem starting from a fresh install

  1.
  2.
  3.

### Specifications

  - Version: 1.1-stable.527
  - Operating System:
  - .Net/Mono runtime version:
  - Hardware configuration:

#### Additional configuration notes

[2019-03-26 15:20] tuicemen commented on #375
I managed to get this working after recompiling all Programs in HG and removing those not in use.
Some programs were displaying red. Although I didn't use them I suspect that was the issue.  I'll close the issue as it is now working for me..

[2019-03-26 15:20] #375 closed

[2019-03-26 16:38] tuicemen opened #377 "deprecated HTTP Basic authentication?"
Looking over the change log for 1.3-beta.1 I seen lots of additions adds for WebSocketGateway and token authorization.
@genemars  Since I like to have Authorization setup for HG as I'm sure other do as well perhaps you can explain this. Or may be it isn't fully implemented yet as going to ` /api/HomeAutomation.HomeGenie/Config/WebSocket.GetToken`
 doesn't give much value ="" and if it did give a t

[2019-03-26 18:27] genemars commented on #377
Hi @tuicemen, Basic authentication can be still enabled by editing the `system_settings.xml` file. If you prefer for some reason using Basic authentication you can add this option:
[code]
in the `systemconfig.xml` [WebServiceGateway Options](https://github.com/genielabs/HomeGenie/blob/master/BaseFiles/Common/systemconfig.xml#L53).
Be aware that using Basic authentication the password will be sent

[2019-03-26 18:31] genemars commented on #374
Try disabling all custom programs. Also disable the **UPnP emulation** program (under Devices and Things) which has a bug that cause HG to hang after a few days.

[2019-03-26 18:39] genemars commented on #377
@tuicemen I forgot to mention that if you are not running a fresh install you'll also have to manually add the WebServiceGateway to the `systemsetting.xml` file as shown here:
https://github.com/genielabs/HomeGenie/blob/master/BaseFiles/Common/systemconfig.xml#L66

[2019-03-26 18:57] tuicemen commented on #377
@genemars thanks for the details.
I'll try to play with the WebServiceGateway but I may have to wait till your next release.
The new UI looks nice and clean. I'm now curious to see what my setup would look like running it.
Can't wait for the connection wizard.

[2019-03-26 19:00] tuicemen commented on #361
@ngineerken did disabling the "UPnP emulation" program fix your HG hang ups?

[2019-03-27 02:20] ngineerken commented on #361
I have HomeGenie Version v1.3-beta.2 running on a new SD card on a Pi3b+, and is running fine so far.

[2019-03-27 10:45] tuicemen commented on #361
Gene did state a bug in the UPnP program was causing HG to hang in another thread.
I had to disable that as well but for a different reason. I think it was so the echo bridge would work so that maybe why I didn't get the issue you had. Nice to see it has been working for you with out hanging so far.

[2019-03-27 14:09] genemars commented on #377
@tuiceman btw the wizard will be very similar to the one already implemented in the android app, but it will not probably have the automatic discovery facility.

[2019-03-27 15:04] tuicemen opened #378 "OpenWeatherMap enhancement?"
@genemars I love the new weather program which replaces WU. The options for triggering are much greater.
Could you include humidity like the rain, wind, temperature and pressure sensors?
I know others would find this very useful. I know the JkUtilsOpenWeather has this so it should be an easy enhancement.

[2019-03-27 20:27] noliono commented on #374
I try to disable most of my custom program but i need to keep some needed but i try to disable more now (not still all).

I remember that so i have already do it :)

But it seems i am the only one with this problem so i close the issue. Thanks.

[2019-03-27 20:27] #374 closed

[2019-03-29 12:03] tuicemen commented on #378
I managed to add the humidity sensor code to this with 2 simple lines  so it may be worth examining the OpenWeatherMap APi to see what else may be possible. I know this originally offered more info then WU.

[2019-03-29 20:02] soxfan1966 opened #379 "HomeGenie will not load after latest update"
I am running HomeGenie on a Raspberry pi via the X10Hub from tuicemen.  It has been running smoothly and I do periodic updates when they are reported.

This morning, I saw there was an update so I took the update.  However, since it finished updating I cannot get HomeGenie to load.

In working with Tuicemen on the x10 board:
http://forums.x10.com/index.php?topic=30955.0

He suspects it may have so

[2019-03-29 21:47] tuicemen commented on #378
@genemars Although I don't use imperial measurements  though in the US many do so this would be another enhancement if possible as mentioned here #376.
Since I've not dug into the Openweather API I'm not sure if all values can be retrieved based on the unit or if each would need to be converted. So that may be a bit more work.

[2019-03-29 21:51] tuicemen commented on #379
@soxfan1966  you may wish to look at issue #377 @genemars  posted about still being able to use basic authorization with a file edit. I'm not sure if this would work if you updated with out removing the basic Authorization prior. However you may have nothing to lose at this point.

[2019-03-29 22:47] genemars commented on #379
@soxfan1966 as a possible work-around try a fresh install and then restore the configuration backup.

[2019-03-29 22:49] soxfan1966 commented on #379
How would I do a fresh install ?  I can access the Pi via Putty but thats about it.

[2019-03-29 22:53] genemars commented on #379
@soxfan1966 I forgot to mention that the configuration backup must NOT have the password protection set, otherwise it will not work.
You can uninstall old homegenie with a `apt remove homegenie` then follow the instruction on HG documentation site: https://genielabs.github.io/HomeGenie/#/get_started

[2019-03-29 22:54] soxfan1966 commented on #379
I have to assume my configuration backup (the zip file) has the password still associated as that was set when I backed it up.

[2019-03-29 22:57] genemars commented on #379
So you will have to reconfigure HG, unless you decide to install an older release and repeat the update procedure following the instructions in the release notes.

[2019-03-29 22:58] soxfan1966 commented on #379
can I roll back the update bu installing the prior version and then using the saved configuration file ?

[2019-03-29 23:14] soxfan1966 commented on #379
I have a backup of the SD card image - thinking I will try using that and getting it onto an SD card and go from there.

[2019-03-30 00:38] tuicemen opened #380 "OpeneWeatherMap possible bug"
My icons generated by the Openweather map at the top of the web UI indicate temperature followed by the correct value. the rain icon displays followed by a value which changes to values even though I receive no rain and the widget displays no rain value. some times it reports correctly other times it is way off as shown in the attached
<img width="339" alt="Info" src="https://user-images.githubuse

[2019-03-30 02:04] soxfan1966 commented on #379
I was able to get the backed up image onto my PI's SD card and then use the saved backup file to restore.

Before I do, is there something I should do to remove my password for access before trying to update to the latest version of HG again?

[2019-03-30 10:05] genemars commented on #379
@soxfan1966 if you were able to restore a password protected backup on an older release, then remove the password protection and do a new backup so that in case the update fails, you will be able to restore the new backup on a fresh install of the latest release. This is because the latest release use a different encryption mechanism. After succesfull restore you can set the password again.

[2019-03-30 10:09] genemars commented on #380
@tuicemen I am not sure I understood what you mean. Where's the problem in the above picture (beside the fact that is still really freezing out there :)).

[2019-03-30 10:10] genemars commented on #380
@tuicemen if you refer to the **39** value in the top bar I guess that is the humidity, not the rain value.

[2019-03-30 11:37] tuicemen commented on #380
@genemars  your correct after adding the humidity Value to Openweather is when I noticed this prior it was showing 0 matching rain value. My mistake!

[2019-03-30 11:37] #380 closed

[2019-03-30 13:30] soxfan1966 commented on #379
I think I removed the password and made another config backup.  Assuming this is where the password is Cleared then I should be all set.
![Capture](https://user-images.githubusercontent.com/49078444/55276811-728b8e80-52ce-11e9-942b-3e5e2fb97cfd.PNG)

[2019-03-30 14:05] genemars commented on #379
@soxfan1966 correct.

[2019-03-30 15:10] soxfan1966 commented on #379
OK - back up and running with version 1.2 of the PiX10Hub and my devices (along with Alexa) working again.

I am going to hold off taking any HG updates for awhile and make sure everything is good before proceeding with that.

Thank you for your help.   NOTE: My password in HG is still cleared, will hold off on that for awhile too.

[2019-03-31 01:38] tuicemen commented on #376
@LostDog88  I've been looking at what OpenWeatherMap is being asked for by HG. and what can be asked for.
@genemars currently has metric measurements hard coded in though it is possible to retrieve the actual values in imperial or metric measures.
 I doubt your open to playing with the Openweather code as any customization to it would be lost on a Update without reinstalling a backup after each up

[2019-03-31 01:40] tuicemen commented on #379
@soxfan1966  since you have this resolved perhaps you can close the issue.

[2019-03-31 21:23] soxfan1966 commented on #379
All set - Thank You

[2019-03-31 21:23] #379 closed

[2019-03-31 22:44] soxfan1966 commented on #379
Wanted to follow up this afternoon.

With no password still, I am getting the HG info about available updates.

I actually read the info provided (I know, I know) and saw the info about the password and need to remove before installing.

So I wanted to clarify that the problem I ran into is not the fault of HG - rather it was the dreaded user error (failure to read important information).

I was a

[2019-04-04 14:23] tuicemen commented on #376
I decided to play with switching the values to imperial and was able to get the values to display correct Temperature shows in the top bar on the group page but the widget  still doesn't display the  &#8457; This can be fix by switching the  Unicodes `&#8451;`  in the Widget Java section with `&#8457;`
Now the unfortunate part for **me** is HG still sees the  &#8457; value and not the &#8451; valu

[2019-04-13 22:46] tuicemen commented on #327
@genemars I believe this is stable enough to be added to HG with the changes I made and posted last.
The modified WeMo program I posted continues to work reliably for me from both my RPIs. The only time it stopped working was when my router rebooted. And when that happened HG reported the error of not being able to communicate to said WeMo devices.  Setting the WeMo IPs to my routers IP reserved l

[2019-04-13 22:59] tuicemen commented on #378
@genemars I'm not sure why I never noticed this before (I guess I never had this loaded to my dashboard) the latest HG 1.3-beta.2 has the OpenWeatherMap widget displaying values in Fahrenheit even though °C is displaying also HG now displays the info top right in Fahrenheit.
I think I read somewhere this was auto calculated based on location. I'm in Canada and we use metric however I wonder if me

[2019-04-14 16:03] genemars commented on #327
@tuicemen ok, I will add this to next hg release.

[2019-04-14 16:08] genemars commented on #378
@tuicemen internally HG stores everything in celsius then the UI makes the conversion based on the user preference (not location): from maintenance menu, scroll down to "User Interface" and select Celsius or Fahrenheit. Isn't that working?

[2019-04-14 16:18] tuicemen commented on #378
<img width="531" alt="OWM" src="https://user-images.githubusercontent.com/25393840/56095889-47e52c80-5eaf-11e9-93bd-a7fa9e41d787.png">
I don't see that settings however I may have screwed up the app when I added the humidity option to the program so I could have the humidity value triggering devices

[2019-04-14 16:28] tuicemen commented on #327
@genemars  that will be great thanks.

[2019-04-14 17:20] tuicemen commented on #378
I just loaded a old backup sd card to my RPi and updated to latest beta and got some strange results with this.
in Programs it still sees WU but when I Open it it says it is OPM even after a recompile and entering in my api key.
also it still only displays the options as posted above

[2019-04-14 17:43] tuicemen commented on #378
@genemars  I got it displaying  correctly I changed the theme and that did it returning to my old theme (A) and the °C setting stuck so there may be something to that. this worked for both my RPis.

[2019-04-14 18:55] noliono commented on #378
Did you try the test propose by gene (not in the program settings) ?

[2019-04-14 19:02] tuicemen commented on #378
@noliono, yes did the setting @genemars  stated. I was already set to use Celsius  so I switched to Fahrenheit and back with no change however switching my theme from "A" to "B" cause every thing to report Celsius. This worked for three different SD card images on two different RPi boards.
Switching back to theme "A" kept everything reporting in Celsius.

[2019-04-15 11:01] neocit opened #381 "MQTT Interconnection Fail"
### Expected behavior
I have 2 Raspberry Pi 3+ with Homegenie.
1 for Pool
1 for Garden

With version 1.1.-526 and 527 they work fine with MQTT broker on a other Server.
Switch and Sensor are Visible in both HG.
If i press Switch on in HG Pool it change in HG Garden to. When i switch it off on HG Garden, HG Pool update the state correctly.

After upgrade resp. New Install of Homegenie 1.3.beta2 the

[2019-04-15 19:10] saue0 commented on #377
Can we use the token for accessing the "WebServiceGateway" or is it only for the "WebSocketGateway", I'm developping a Google Home interface and it require a clous service. AND i dont like to have to keep the user and password in my cloud. Do you have an interesr for OAUTH2 authentification ?
Thanks

[2019-04-15 19:12] genemars commented on #327
The WeMo program is now included in **v1.3-stable.3**. :)

[2019-04-15 19:12] #327 closed

[2019-04-15 19:12] genemars commented on #381
Fixed by **v1.3-stable.3**.

[2019-04-15 19:12] #381 closed

[2019-04-15 23:07] tuicemen commented on #378
@genemars I just updated one of my RPi to the latest 1.3-stable.3 and had hoped to see some fixes to the OpenWeatherMap program or widget however there are still lots of issues with this which I'm becoming more aware of now with attempting to create a Weather Alerting and triggering program.
almost all issues are with the value conversions from metric not being done for the widget or the values yo

[2019-04-15 23:07] #378 closed

[2019-04-16 12:38] tuicemen opened #382 "OpenWeatherMap and H🧞1.3-stable.6"
@genemars  Please don't take this the wrong way. 😉
This is just an attempt to make issues I reported in #378 for the OpenWeatherMap program easier to find.
For users using metric most of these are irrelevant.
With the new H🧞 build (1.3-stable.6)there are still a number of unresolved issues with the OpenWeatherMap program.
The following are related to the metric to Fahrenheit conversion in the widg

[2019-04-16 17:10] genemars commented on #377
OAuth2 authentication could be added but then also SSL should be implemented. The latter is not a easy task unless this is achieved using an external utility such as stunnel for linux.

[2019-04-16 17:11] genemars commented on #382
cool, you found an emojii for HG :smile:

[2019-04-16 17:15] tuicemen commented on #382
I thought you'd get a kick out of that!😄
I found this one first 🧞‍♀️

[2019-04-20 13:50] tuicemen opened #383 "InfoWidget enhancement"
In the HG Plus app it is possible to hide selected info from displaying in the widgets.
This is a realy cool feature which would be handy in the Server.

[2019-04-20 21:36] noliono commented on #374
I have finally solve my problem after severals try. I think the good one was to switch Mono version from v4 to lastest v5. By using a different repo than the default one with this modop :
https://www.mono-project.com/download/stable/#download-lin-raspbian

[2019-04-20 21:46] noliono commented on #361
So issue can be clode no? @ngineerken
Resolve by deactivating emulation upnp..

[2019-04-20 21:47] noliono commented on #324
@jamesthomas128 Can you close this issue?

[2019-04-20 21:50] noliono commented on #327
After a long time to solve my CPU use in homegenie, I can say that the program work fine on my side too!

[2019-04-22 07:50] genemars commented on #361
I think this can be closed now.

[2019-04-22 07:50] #361 closed

[2019-04-22 07:51] #324 closed

[2019-04-23 20:01] yorlik-too opened #384 "email information will not update"
### Expected behavior
change email PID 142 info and it go into effect

### Actual behavior
change email PID 142 info and it does NOT go into effect

### Steps to reproduce the problem starting from a fresh install
  1. update HG to major new update
  2. try to send an email - that used to go just find with present settings
  3. no send;  crashes same as I reported in previous bug report

### Speci

[2019-04-24 12:40] yorlik-too commented on #384
I asked last time I reported this but received no reply.  Asking again as it really would be  nice to have HG email capability back:  Where is the email data for PID 142 actually stored?  Can I go delete it or change it there?

[2019-04-24 14:02] sebyno commented on #23
Just discovered this project, actually I'm using Domoticz.
For zigbee this may be interesting:
https://www.zigbee2mqtt.io/getting_started/running_zigbee2mqtt.html
https://gadget-freakz.com/diy-zigbee-gateway/

[2019-04-24 14:07] tuicemen commented on #384
@genemars I also had this issue with one of my RPi.
I know  @yorlik-too has extensive emailings triggered and the Pi that got messed up for me was handling some emailings the other wasn't however it was configured with an email address settings.
So I'm wondering that maybe during updates if HG is triggered to send an e-mail that it is messing something up.  If the bug that is causing this can't be

[2019-04-24 17:43] genemars commented on #384
@yorlik-too do you use SMTP authentication? I just found a bug that occurs when NOT using authentication. Also another issue is that previous settings are retained until you restart the program that is sending the e-mail.

[2019-04-24 18:07] #384 closed

[2019-04-24 20:24] yorlik-too commented on #384
Thanks for finding SOMETHING!  I wish I could help more!

Unfortunately gmail DOES use SSL and authentication, so what you found may not help me.  For reference, I tried again just now and it again failed to send.  I had just made a new SD image so obviously rebooted.  No difference, still fails.  On latest HG file.

here is link to log file showing the failure:

https://www.dropbox.com/s/zc3cir05

[2019-04-25 11:58] genemars commented on #384
@yorlik-too if you are using `465` as SSL port, can you try with `587`?

[2019-04-25 12:28] tuicemen commented on #384
@genemars  the ssl port is not the issue in this case nor was the email bug you found.
Nor is the email server at fault as I use Hotmail  @yorlik-too uses g-mail.
I too have seen this on one of my Pis which I've not attempted to fix yet.
I was using SSL port 587 .
I still believe the issue that caused this was HG attempting to send email while in the process of doing an update. this changed someth

[2019-04-25 18:58] yorlik-too commented on #384
Thanks guys.
Gene, I changed to port 587;  failed to send
I then restarted HG service in config->maint page, tried again;  WORKED!  SENT!!!

I did NOT update to ver1.3-stable.4 yet
I will do that tonight and verify it still works!

THANK YOU SO MUCH FOR FIXING THE ISSUE!!

[2019-04-27 14:45] homeautomate8 opened #385 "Update notification flag still displaying after successful update"
### Expected behavior
Yellow update notification arrow/flag in the top right hand corner of the screen should clear after a successful update

### Actual behavior
Yellow update notification arrow/flag in the top right hand corner of the screen still displaying after a successful update

### Steps to reproduce the problem starting from a fresh install

  1.Update from v1.3-beta.2 to v1.3-stable.3

[2019-04-27 16:01] tuicemen commented on #385
have you tried redoing the update?
I don't see this on my RPi running Stretch Lite

[2019-04-27 16:46] andros19 opened #386 "RF commands to Security onsole SC9000"
I would like to use HomeGenie and CM15Pro to send X10 RF commands (ArmAway, ArmHome, Disarm) to my security console (SC9000).
In this way I will be able to use the scheduler to schedule the time when the console will be armed or disarmed.

[2019-04-27 17:17] homeautomate8 commented on #385
Of course. I tried all the obvious before I opened the issue. I’m quite familiar with HG and generally know what to look out for.

I’ll wait till @genemars reads the issue and see what his take is on it.

[2019-04-27 18:28] genemars commented on #385
I'll check this out.

[2019-04-27 20:28] #385 closed

[2019-05-07 18:52] yorlik-too opened #387 "X10 RF module decoder (built in HG program "X10 RF" module)"
### Expected behavior:   give me ALL codes bytes sent
### Actual behavior: gives only first 6 bytes
### Steps to reproduce the problem starting from a fresh install:  Press a keyfob key and watch the values in "X10 RF" displayed module
### Specifications
  - Version: 1.3-stable.3
  - Operating System:
  - .Net/Mono runtime version: latest
  - Hardware configuration: pi
#### Additional configuratio

[2019-05-07 19:50] tuicemen commented on #387
@genemars  & @yorlik-too you may find this a bit helpful
https://bfocht.github.io/mochad/x10_rf_security_extended_address.html

[2019-05-07 23:57] yorlik-too commented on #387
GREAT!  confirms my code is right!  I believe Gene is not sending last
byte so it does not work...

On 2019-05-07 15:50, Tuicemen wrote:

Links:
------
[1] https://github.com/genemars
[2] https://github.com/yorlik-too
[3]
https://github.com/genielabs/HomeGenie/issues/387#issuecomment-490230295
[4]
https://github.com/notifications/unsubscribe-auth/ALONDR5QPUKUJZWFQSOXBITPUHMPLANCNFSM4HLLR6JA

[2019-05-09 13:44] yorlik-too commented on #387
UPDATE:

I believe a complete security RF code is 8 bytes.

Again, it would be useful if the config->groups->page->X10rfmodule parameters and check Receiver.RawData would show at least 8 bytes rather than 7.  It is probably good that the actual X10 RF widget only shows 6 to prevent easy decoding by unscrupulous folks.

But we really need the HomeAutomation.X10/RF-Control.RfSend to allow 8 bytes be

[2019-05-10 03:23] tuicemen commented on #382
Playing around with the open weather map API I see now why the min max vales are the same and not reporting what I expected .
The current weather API  is being used here which supplies different info for temperature max and min then what the daily forecast API does
Quote from Open Weather API

[2019-05-11 13:37] tuicemen commented on #382
I've added a pull request to at least fix the humidity display issue.
While trying to work out the 3 day Hi/Low values I also added a fetch for the current day Hi/low temperature values.

[2019-05-14 17:25] yorlik-too commented on #387
Any updates?

[2019-05-15 14:06] tuicemen commented on #382
Since the forecasted daily hi and low temperatures are always the same I started to play a bit more with the API. seems the daily temperature is also reporting the same as the hi/lows. The issue is how the API is reporting.  I thought about replacing the forecasted hi/lows with forecasted temperature and humidity.
I was able to do this as seen here:
![HiLowFix](https://user-images.githubuserconten

[2019-05-15 14:39] andros19 commented on #382
Since it would be absolutely useless to have the same temperature reported
as low temperature I believe that what you have done is much better than
before.
Therefore it would be very nice to share this with all the users.
Thanks for keeping up with the work.

On Wed, May 15, 2019, 17:06 Tuicemen <notifications@github.com> wrote:

[2019-05-15 14:47] tuicemen commented on #382
I'll do a bit more tweaking with the code as I just noticed I do have a error popping up about not finding a min.
This doesn't stop things from working it is just annoying as soon as I pin point that I'll post the changes.

[2019-05-15 17:48] tuicemen commented on #382
Ok got rid of the error.
for those not wishing to wait for this to get implemented into HG you need to edit the OWM Program and add this line:
 ` Program.Parameter("Conditions.Forecast." + day + ".Humidity").Value = data.humidity;`
 after the line:
`Program.Parameter("Conditions.Forecast." + day + ".Temperature").Value = data.temperature;`

OWM Widget changes:
The changes to the widget HTML are: c

[2019-05-15 19:01] tuicemen commented on #382
Ok that wasn't to difficult to find. I added the changes to the files and added the changes to the pull request. Once /if the pull is implemented most issues reported here will be resolved.

[2019-05-15 19:24] tuicemen commented on #387
I've tried to locate where this may be found in the HG code since there isn't a road map (that I'm aware of) it is proving difficult.
I did locate some code for  handling RF/IR but didn't see a place to edit the bit length though I may have overlooked it.
@genemars  seems to be busy with work or what not so we may have to wait till he can shed some light on this.
In the mean time I'll continue to

[2019-05-15 19:30] tuicemen commented on #386
Currently many of us are using a Broadlink RM Pro to handle Security RF send events and use the Philips Hue program to talk to HA-Bridge.
I'm not sure if HG is capable of sending raw security RF to arm the console but I've been looking into it.

[2019-05-15 21:53] andros19 commented on #386
If I remember well, 4 - 5 years back when we were just starting with HG
there was support for the SC9000, but then it was removed because it was
considered obsolete after the introduction of the security program in HG.
Some of the members of the original forum may correct me if I am wrong.
In any case since some of us are still using the X10 security consoles it
would be nice to be able to control

[2019-05-15 22:12] andros19 commented on #386
@Tuicemen I have seen your previous posts in another thread about the
broadlink RM Pro and I am already considering to buy it as it is not so
expensive.
I want to use it both for RF and IR but I do not know if the RF range would
be sufficient for the place that I want to put it.
Also I am not sure if I will be able to set it up to work with HG as I have
never used HA-bridge before.

On Thu, May 16

[2019-05-15 22:40] tuicemen commented on #386
@andros19
That sound promising I don't have a sc9000 but a obsolete ds7000 which responds to the same codes from my understanding. I'll continue to dig into the code to see if I can find a solution.
The RF range on the Broadlink is quite good when not in learning mode.  The signal only needs to make it to a Cm15 if the console is to far I suspect. However there is always the RF repeater which I've

[2019-05-15 22:51] andros19 commented on #386
@Tuicemen I will order the broadlink and try it since I have also other use
for it.
It will take a couple of weeks for shipment to where I am, but I will let
you know the result after I try it.
In the meantime if you have any success with the code in HG that would be
very nice.

On Thu, May 16, 2019, 01:40 Tuicemen <notifications@github.com> wrote:

[2019-05-15 23:09] tuicemen commented on #386
I'll continue to look into the HG code.
I don't believe the Security RF receives /send needs to be tied directly to the security console program.  You could use those raw RF codes for other things (exactly what I've no idea)
from my understanding @genemars  just added Raw x10 RF sending from the CM15 in one of the last releases, maybe that holds the key.

[2019-05-15 23:14] yorlik-too commented on #387
Thanks.  I did not consider looking for keywords in the programs...  I
will try too!

On 2019-05-15 15:24, Tuicemen wrote:

Links:
------
[1] https://github.com/genemars
[2]
https://github.com/genielabs/HomeGenie/issues/387?email_source=notifications&amp;email_token=ALONDR3QQAUXNA6YFEGJZLTPVRPNPA5CNFSM4HLLR6JKYY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGODVPWDLY#issuecomment-49279019

[2019-05-17 11:43] tuicemen opened #389 "Port # Auto changes on OS reboot or service restart"
### Expected behavior
H G port to stay set to what it is set at

### Actual behavior
Occasionally the HG port slips ( Moves to the next available)
I've noticed this recently with adding a new interface like the echo bridge

### Steps to reproduce the problem starting from a fresh install
as stated before this seemingly random so others may not be able to reproduce
  1. install HG and load your bac

[2019-05-17 11:44] tuicemen opened #390 "I keep meaning to create a PR for optionally disabling this feature where it changes ports as it randomly does it on my machine when the port hasnt closed properly, was thinking just a flag that can optionally disable that functionality. (not that this helps your issue!)"
I keep meaning to create a PR for optionally disabling this feature where it changes ports as it randomly does it on my machine when the port hasnt closed properly, was thinking just a flag that can optionally disable that functionality. (not that this helps your issue!)

_Originally posted by @davidwallis3101 in https://github.com/genielabs/HomeGenie/issues/320#issuecomment-338617408_

[2019-05-17 11:47] #390 closed

[2019-05-17 11:52] tuicemen commented on #320
@davidwallis3101 I've also had occasions where HG randomly changes the port in recent builds of HG. as referenced in # 389
@genemars this isn't a big issue if the HG server your using is local. However I've had this happen on a remote server where port forwarding allows connection. When this action happens my access is cut until I can get to the remote location to repair. Some times this can take

[2019-05-20 11:35] andros19 commented on #382
I have done the changes as instructed and the result was exactly as
promised.
Great work. !!👍

Now remains to change the HomeGenie Plus app but I gues this can be done
only by @genemars since the code for the app is still not available.

Στις Τετ, 15 Μαΐ 2019 στις 10:01 μ.μ., ο/η Tuicemen <
notifications@github.com> έγραψε:

[2019-05-20 11:56] tuicemen commented on #382
@andros19  Glad to see my write up was easy to follow and you had success.

The Plus app seems to be pulling the min value from somewhere else as it never matched what the server was reporting. @genemars seems to be MIA at present hopefully it won't be long before he is active again.

[2019-05-21 12:40] tuicemen commented on #376
@LostDog88  I believe I have all metric/imperial displays worked out.
Fixes are outlined in #382 perhaps you can test them out and if they work for you this issue can be closed.
I've also put in a pull request so enhancements can be added to the next HG build once reviewed #388

[2019-05-21 12:57] andros19 commented on #386
@Tuicemen
Which RF repeater are you using?
I am very disappointed because I bought two pcs of SR9231 and none of then
seems to be working.
Don't know if any one else on the forum had used these repeater

On Thu, May 16, 2019, 02:09 Tuicemen <notifications@github.com> wrote:

[2019-05-21 13:08] tuicemen commented on #386
I use the newer North American SR751 Repeater
https://www.x10.com/x10-pro/specialty-devices/couplers-repeaters/sr751.html
I also have the SR731 (North American version of the SR9231) but it doesn't seem to have the same good range.

[2019-05-21 14:42] andros19 commented on #386
The SR9231 is totally useless. Doesn't seem to work at all.
In any case I will wait until I receive the Broadlink RM Pro and try it. I
may not need a repeater.

I also tried to use the RF commands in HG using the CR15pro but also
doesn't seem to work with security commands.

On Tue, 21 May 2019, 16:08 Tuicemen, <notifications@github.com> wrote:

[2019-05-21 14:55] tuicemen commented on #386
HG currently doesn't seem to capture the total security RF code bits. nor allow for the extra bits required to be transmitted. :(
As indicated in issue #387 HG needs to be updated to capture and send that info in order to arm/disarm X10 security consoles.
I find the Broadlink to have better transmit range then my CM19 and CM15 but I've not done extensive tests. The learning RF range (receive) is v

[2019-05-21 16:27] andros19 commented on #386
Yes I have been following the exchange of messages with @yorlik-too.
We wii have to wait for this.

The learning range for the Broadlink should not be a problem as long as the
working range is OK. I should have the unit in about one week and then I
can test.

On Tue, 21 May 2019, 17:55 Tuicemen, <notifications@github.com> wrote:

[2019-05-22 14:24] tuicemen commented on #356
I've been digging into this a bit more each chance I get.
Using the CLI files from the link in my OP I've been able to discover my Broadlink RM Pro and get its temperature.  Note: this is the broadlinks temperature not the room temperature
I know absolutely zip about python so for me to create some sort of interface or program may take some time. As well my programing season is almost done.
The fi

[2019-05-22 15:35] tuicemen commented on #356
Success! I can now send arm and disarm codes to my X10 security console via a terminal command.
now just to create a HG program utilizing these things.

[2019-05-22 22:17] kaykingtoo commented on #356
FREAKING AMAZING!!!!!!!!!!Sent from my Verizon 4G LTE smartphone

-------- Original message --------
From: Tuicemen <notifications@github.com>
Date: 5/22/19  11:36 AM  (GMT-05:00)
To: genielabs/HomeGenie <HomeGenie@noreply.github.com>
Cc: kaykingtoo <kingone1@gmail.com>, Comment <comment@noreply.github.com>
Subject: Re: [genielabs/HomeGenie] Broadlink RM Pro interface? (Feature
  Request) (#356)

[2019-05-22 22:19] kaykingtoo commented on #356
With full byte access, does this fix the all keyfobs have same code also?Sent from my Verizon 4G LTE smartphone

-------- Original message --------
From: Tuicemen <notifications@github.com>
Date: 5/22/19  11:36 AM  (GMT-05:00)
To: genielabs/HomeGenie <HomeGenie@noreply.github.com>
Cc: kaykingtoo <kingone1@gmail.com>, Comment <comment@noreply.github.com>
Subject: Re: [genielabs/HomeGenie] Broadlink

[2019-05-22 22:21] kaykingtoo commented on #356
Wow!!!!  Light at the end of the tunnel!!Sent from my Verizon 4G LTE smartphone

-------- Original message --------
From: Tuicemen <notifications@github.com>
Date: 5/22/19  10:24 AM  (GMT-05:00)
To: genielabs/HomeGenie <HomeGenie@noreply.github.com>
Cc: kaykingtoo <kingone1@gmail.com>, Comment <comment@noreply.github.com>
Subject: Re: [genielabs/HomeGenie] Broadlink RM Pro interface? (Feature
  Re

[2019-05-22 22:22] tuicemen commented on #356
This uses the Broadlink RM it has no affect on how HG handles the Keyflob codes

[2019-05-23 12:01] tuicemen commented on #356
I managed to create a program which makes calls to the command line to send commands to the Broadlink this also auto detects the Broadlink on each HG service start so that does solve that issue.
This uses a generic switch widget.
Using the terminal command line to send Broadlink code is extremely slow and may be to slow for many users for sending, however this will open the door for Broadlink smar

[2019-06-04 17:35] andros19 commented on #386
@tuicemen Finally I received my Broadlink RM pro+ and have set it up to work with Google Assistant through the Broadlink App. What a Great Gadget this is
I have tested it with learned RF commands for my security console SC9000 and is working fine. Range is just enough. By the way you were right about the very short range in learning mode.

Now what remains is to intergrade Broadlink into HG.
I kno

[2019-06-04 19:12] bwssytems opened #391 "Philips Hue Bridge does not record correct Hue Device Address"
### Expected behavior
When Hue devices are detected, the expectation is the hue address would be used in the module schema

### Actual behavior
When the hue devices are detected the Hue address is arbitrarily numbered from start of 1.

### Steps to reproduce the problem starting from a fresh install

  1. Add hue bridge in the config settings
  2. restart hue service from widget
  3. The displayed

[2019-06-04 20:06] tuicemen commented on #386
HA- Bridge has Broadlink support intergrated into it and works well on Windows using the included HG Philps Hue plug in.
I ran it this way until I modified the HG hue script to allow password protection of HA-Bridge.
I then started to play with the Broadlink driver but yes my work with it is on Linux with a RPI board.

BWSsystems is currently working on a helper for HG which should make setup with

[2019-06-04 21:44] tuicemen commented on #391
Is this using a Philips hue hub with the HG hue bridge program?
I only use HA-Bridge and the device numbers in HG correspond to the number HA-Bridge assigns them.
At least they did for me when I originally first added them to HG.
I don't have a hue hub  nor any true hue devices.

[2019-06-05 08:54] andros19 commented on #386
Thank you very much for your prompt reply. Greatly appreciate it.
I will try both ways and let you know the outcome.

On Tue, Jun 4, 2019, 23:06 Tuicemen <notifications@github.com> wrote:

[2019-06-05 17:15] bwssytems commented on #391
Nope, I was testing against an ha-bridge I installed. I may have missed a setting then.

[2019-07-09 23:12] ngineerken opened #392 "HomeGenie does not trun on Raspbian Buster"
### Expected behavior
HomeGenie just runs as expected

### Actual behavior
HomeGenie fails to start

### Steps to reproduce the problem starting from a fresh install

  1.Have HomeGenie running on Raspbian Stretch
  2.Upgrade from Stretch to Buster (the latest release)
  3.Reboot and HomeGenie fails to start

### Specifications

  - Version: 1.1-stable.527
  - Operating System: Raspbian Buster
  -

[2019-07-10 00:33] homeautomate8 commented on #392
No Mono no HG.

Are you saying you’ve no Mono installed or is it just no updating.

You’re way back on HG releases so I’d advise updating to the latest version from the GitHub.

Possibly install Buster first and then the latest version HG and restore your backup.

[2019-07-10 00:37] ngineerken commented on #392
I have upgraded to Buster and reinstalled from GitHub and is fails:

Package libmono-corlib2.0-cil is not available, but is referred to by another package.
This may mean that the package is missing, has been obsoleted, or
is only available from another source
However the following packages replace it:
  mono-reference-assemblies-2.0 mono-devel

E: Package 'libmono-corlib2.0-cil' has no installatio

[2019-07-10 01:42] ngineerken commented on #392
I just found that Buster has been made Stable in the repo

[2019-07-10 10:14] homeautomate8 commented on #392
If your dependencies are not met or package is not available you need to update your sources list.

I suggest pointing your sources list directly to the Mono project if you are having difficulty locating packages in the Raspbian repos.

[2019-07-10 11:24] tuicemen commented on #392
HG 1.1.stable had several issues with newer versions of Mono whic were addressed with newer versions of HG. Gene removed and updated several obsolete drivers and code.

[2019-07-10 12:54] homeautomate8 commented on #392
What issues were they. I’m not aware of any.

Granted HG remained fairly static at version 1.1 v527 for quite a while. In fact many are still using that version.

If users are experiencing difficulties with either Mono or HG they can build their own version of either.

I’d advise users who are not really familiar with the Raspbian/Linux environment to hold off upgrading their HG install to Buster.

[2019-07-10 16:36] tuicemen commented on #392
The main issue with some mono versions is HG would fail. I'm unaware what mono version Buster comes with so it may be one of the versions I had tested with 1.1 stable 527. There were issues with security certificates as well if i remember right however which versions had what issues with HG I cant recall.
Users that are not using at least stretch on their Pi will most likely have issues with the n

[2019-07-11 21:25] pat-moore opened #393 "Gpio modules don't work on Raspberry Pi"
### Expected behavior
The sensor modules should respond to gpio inputs and the switch modules should control gpio outputs.

### Actual behavior
Neither IN nor OUT actually connects to the gpio pins.  There are no error messages and I can see the program partly working as it changes the IN/OUT state of the correct pins as seen with gpio readall.  I can also see the necessary exports in /sys/class/g

[2019-07-11 22:02] homeautomate8 commented on #393
You’ve given the kernel version but not the Raspbian version you are running.

As you’re running Mono 4x I’m guessing you’re running Raspbian Jessie.

You think it may be Mono related and you may be right. If you have an image of Raspbian Stretch I’d install that and point your sources list at the Mono project and install Mono 5.20 and pin that release.

I do remember some Raspberry Pi users exper

[2019-07-12 14:22] pat-moore commented on #393
I originally installed Raspbian 2018-06-27.  This worked fine for all my Z-Wave work so I stayed with it.  I've recently started a new project to add gpio and when this failed I upgraded both Raspbian (using apt-get update and upgrade) and HG to 1.3-stable.5.  No change in symptoms with any of this.  HG logs show nothing.

I've tried installing Mono 5.20 according to https://raspberrypi.stackexcha

[2019-07-12 16:33] homeautomate8 commented on #393
It looks like the package manager is failing.

Ok you have all your dependencies installed. All you need to do is wget the HG manually, tar the zip into a folder of your choice and start HG using sudo mono HomeGenie.exe

You can autostart it with a service yourself.